/*	Fonts
/*--------------------------------------*/

// Comment/uncomment the fonts you want to use

// Proxima Regular
@include font-face(Proxima, '../fonts/proximanova-regular-webfont', normal, normal);
@include font-face(Proxima, '../fonts/proximanova-regit-webfont', normal, italic);

// Proxima Light/Thin
@include font-face(Proxima, '../fonts/proximanova-thin-webfont', 100, normal);
// @include font-face(Proxima, '../fonts/proximanova-thinit-webfont', 100, italic);
@include font-face(Proxima, '../fonts/proximanova-light-webfont', 300, normal);
// @include font-face(Proxima, '../fonts/proximanova-lightit-webfont', 300, italic);


// Proxima Semi/Extra Bold
@include font-face(Proxima, '../fonts/proximanova-semibold-webfont', bold, normal);
@include font-face(Proxima, '../fonts/proximanova-semiboldit-webfont', bold, italic);
@include font-face(Proxima, '../fonts/proximanova-xbold-webfont', 900, normal);
// @include font-face(Proxima, '../fonts/proximanova-xboldit-webfont', bolder, italic);

// Karbon Regular
// @include font-face(Karbon, '../fonts/karbon-regular-webfont', normal, normal);
// @include font-face(Karbon, '../fonts/karbon-regularit-webfont', normal, italic);

// Karbon Medium/Bold
// @include font-face(Karbon, '../fonts/karbon-medium-webfont', bold, normal);
// @include font-face(Karbon, '../fonts/karbon-mediumit-webfont', bold, italic);
// @include font-face(Karbon, '../fonts/karbon-bold-webfont', 900, normal);
// @include font-face(Karbon, '../fonts/karbon-boldit-webfont', 900, italic);

// Set fonts
$sans-serif:	"Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:			Georgia, Times, "Times New Roman", serif;
$proxima:		Proxima, $sans-serif;
$cambria:		Cambria, $serif;
// Google font set in function.php
$raleway:		Raleway, $sans-serif;
// $karbon:		Karbon, $sans-serif;