@import "partials/fonts";

/* ==========================================================================
   Typography
   ========================================================================== */

// If targeting a text element (ie. h1-h6, p, li, blockquote), try to style here.
// The exception is header/footer navigation and unique list styles.

body {
	color: $text-color;
	// Base font size for the entire site. Every other font size is based off of this via em.
	font: 15px/25px $proxima;
	text-shadow: 0 0 1px transparent;
}

/*    Headers
/*--------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	clear: both;
	margin: 0;
	font-family: $raleway;
}

// Using em's to make the size relative to the base font and line height set for the body
// ex. 14px * 3em = 42px
h1 {
	font-size: 3em; // 15 * 3 = 45
	line-height: 1.1em;
}
h2 {
	font-size: 2.5em; // 15 * 2,5 = 37.5
	line-height: 1.2em;
}
h3 {
	font-size: 2.2em; // 15 * 2.2 = 33
	line-height: 1.2em;
}
h4 {
	font-size: 2em; // 15 * 2 = 30
	line-height: 1.2em;
}
h5 {
	font-size: 1.5em; // 15 * 1.5 = 22.5
	line-height: 1.3em;
}
h6 {
	font-size: 1em; // 15 * 1 = 15
	line-height: 1.3em;
	font-weight: 600;
}

/* Custom Headers */
.page {
	h2, h3, h4, h5, h6 {
		margin-top: .5em;
		margin-bottom: .5em;
	}
}
.home {
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}
	h2 {
		font-size: 5em;
		text-transform: uppercase;
		color: white;
		font-weight: bold;
		letter-spacing: 1px;
		margin: 0;
	}
	h3 {
		text-transform: uppercase;
		padding-bottom: 10px;
		border-bottom: 2px solid $border-color;
		font-size: 1.3em;
		margin-bottom: 20px;
	}
	h4 {
		margin-bottom: 0;
		font-size: 1em;
	}
}
h1.search-title {
	margin-bottom: 40px;
}
h1 span {
	display: block;
	font-size: .2em;
	line-height: 1em;
}
.archive .main header h2 {
	font-size: 2em;
}
.tax-people_cat .main header h2.filter-title {
	color: white;
	background-color: $separator-color;
	padding: 10px 0;
}
h2.subtitle {
	font-size: 1.5em;
	line-height: 1.2em;
	font-weight: lighter;
	font-style: italic;
}
.page-nav h3 {
	display: inline-block;
	padding: 0 40px;
	color: white;
	font-weight: bold;
	background: $nav-highlight-color;
	height: 50px;
	font-size: 1em;
	line-height: 50px;
	text-transform: uppercase;
	margin: 0;
}
.archive .main header h3 {
	font-size: 1.2em;
}
.col + .col h4 {
	font-size: 1em;
}

/*    Text Elements
/*--------------------------------------*/

strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
hr {
	color: $border-color;
	background-color: $border-color;
	height: 1px;
	border: none;
	margin: 30px 0;
}
p {
	margin: 2em 0;
}
h1, h2, h3, h4, h5, h6 {
	+ p, + ul, + ol, + dl {
		margin-top: 5px;
	}
}
ul, ol {
	padding: 0;
}
li {
	margin: 0 0 0 20px;
	list-style-type: disc;
}
ol li {
	list-style-type: decimal;
}
cite {
	font-style: italic;
}
blockquote {
	font: 1.4em/1.7em $cambria;
	color: $secondary-light;
	border-left: 5px solid $separator-color;
	margin: 30px 0 30px -25px;
	padding: 5px 40px 5px 22px;
	width: 725px;
	
	p {
		margin: 0;
	}
}
figcaption {
	font-size: .85em;
	line-height: 1.5em;
}
dt {
	font-weight: 600;
}
dd {
	margin: 0 0 25px 0;
	font-weight: normal;
}

/*    Links
/*--------------------------------------*/

a:link, .col a h4 {
	text-decoration: underline;
	color: $link-color;
	font-weight: 600;
	@include transition(color 0.24s ease-in-out);
}
a:hover, a:focus, a:active, 
.col a h4:hover, .col a h4:focus, .col a h4:active {
	color: $link-hover-color;
}
.col a:visited, .main a:visited {
	color: $link-visited-color;
}
nav a:link, a.btn, .people-list a, .home .col ul a {
	text-decoration: none;
}

// This adds icon to links that lead to outside the website
// Uncomment and change URL to domain of website as need
article {
	p, h1, h2, h3, h4, h5, h6 {
		a[href*="//"]:not([href*="clarklibrary.ucla.edu"]) {
			@extend %externallink;
			
			// Don't style external link buttons
			&.btn {
				background-image: none;
			}
		}
		a[href*="//"]:not([href*="clarklibrary.ucla.edu"]).hide-external {
			@extend %hideexternal;
		}
	}
}
nav .main-nav, nav .footer-nav, .page-nav {
	a[href*="//"]:not([href*="clarklibrary.ucla.edu"]) {
		@extend %externallink;
	}
}
nav .footer-nav a[href*="//"]:not([href*="clarklibrary.ucla.edu"]) {
	@extend %externallink;
}

/*    Accessibility
/*--------------------------------------*/

// Accessible way to hide text
.hidden {
	@extend %visuallyhidden;
}
.skip {
	float: left;
}
.skip:focus {
	position: static;
	width: auto;
	height: auto;
} 