@charset "UTF-8";
/******************************************************************
Site Name: Department or Center Name
Author(s): Lucian Tucker

Stylesheet: Main Stylesheet
******************************************************************/
/* ==========================================================================
   Normalize v3.0.2 | MIT License
   ========================================================================== */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

p {
  -webkit-hyphens: manual;
  -epub-hyphens: manual;
  -moz-hyphens: manual;
  hyphens: manual; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.hidden, .gform_validation_container {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

article p a[href*="//"]:not([href*="clarklibrary.ucla.edu"]), article h1 a[href*="//"]:not([href*="clarklibrary.ucla.edu"]), article h2 a[href*="//"]:not([href*="clarklibrary.ucla.edu"]), article h3 a[href*="//"]:not([href*="clarklibrary.ucla.edu"]), article h4 a[href*="//"]:not([href*="clarklibrary.ucla.edu"]), article h5 a[href*="//"]:not([href*="clarklibrary.ucla.edu"]), article h6 a[href*="//"]:not([href*="clarklibrary.ucla.edu"]), nav .main-nav a[href*="//"]:not([href*="clarklibrary.ucla.edu"]), nav .footer-nav a[href*="//"]:not([href*="clarklibrary.ucla.edu"]), .page-nav a[href*="//"]:not([href*="clarklibrary.ucla.edu"]) {
  margin-right: 3px; }
  article p a:not([href*="clarklibrary.ucla.edu"])[href*="//"]:after, article h1 a:not([href*="clarklibrary.ucla.edu"])[href*="//"]:after, article h2 a:not([href*="clarklibrary.ucla.edu"])[href*="//"]:after, article h3 a:not([href*="clarklibrary.ucla.edu"])[href*="//"]:after, article h4 a:not([href*="clarklibrary.ucla.edu"])[href*="//"]:after, article h5 a:not([href*="clarklibrary.ucla.edu"])[href*="//"]:after, article h6 a:not([href*="clarklibrary.ucla.edu"])[href*="//"]:after, nav .main-nav a:not([href*="clarklibrary.ucla.edu"])[href*="//"]:after, nav .footer-nav a:not([href*="clarklibrary.ucla.edu"])[href*="//"]:after, .page-nav a:not([href*="clarklibrary.ucla.edu"])[href*="//"]:after {
    content: " \f35d";
    font-family: "Font Awesome 5 Free";
    font-size: .8em; }

article p a.hide-external[href*="//"]:not([href*="clarklibrary.ucla.edu"]), article h1 a.hide-external[href*="//"]:not([href*="clarklibrary.ucla.edu"]), article h2 a.hide-external[href*="//"]:not([href*="clarklibrary.ucla.edu"]), article h3 a.hide-external[href*="//"]:not([href*="clarklibrary.ucla.edu"]), article h4 a.hide-external[href*="//"]:not([href*="clarklibrary.ucla.edu"]), article h5 a.hide-external[href*="//"]:not([href*="clarklibrary.ucla.edu"]), article h6 a.hide-external[href*="//"]:not([href*="clarklibrary.ucla.edu"]) {
  background-image: none;
  padding-right: 0;
  margin-right: 0; }

.content:after, header:after, .post-type-archive-books .book-list li:after {
  content: "";
  display: table;
  clear: both; }

/*	Fonts
/*--------------------------------------*/
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#Proxima") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-regular-webfont.svg#Proxima") format("svg"); } }

@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-regit-webfont.eot");
  src: url("../fonts/proximanova-regit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regit-webfont.woff") format("woff"), url("../fonts/proximanova-regit-webfont.ttf") format("truetype"), url("../fonts/proximanova-regit-webfont.svg#Proxima") format("svg");
  font-weight: normal;
  font-style: italic; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-regit-webfont.svg#Proxima") format("svg"); } }

@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-thin-webfont.eot");
  src: url("../fonts/proximanova-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-thin-webfont.woff") format("woff"), url("../fonts/proximanova-thin-webfont.ttf") format("truetype"), url("../fonts/proximanova-thin-webfont.svg#Proxima") format("svg");
  font-weight: 100;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-thin-webfont.svg#Proxima") format("svg"); } }

@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#Proxima") format("svg");
  font-weight: 300;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-light-webfont.svg#Proxima") format("svg"); } }

@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-semibold-webfont.eot");
  src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#Proxima") format("svg");
  font-weight: bold;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-semibold-webfont.svg#Proxima") format("svg"); } }

@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-semiboldit-webfont.eot");
  src: url("../fonts/proximanova-semiboldit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semiboldit-webfont.woff") format("woff"), url("../fonts/proximanova-semiboldit-webfont.ttf") format("truetype"), url("../fonts/proximanova-semiboldit-webfont.svg#Proxima") format("svg");
  font-weight: bold;
  font-style: italic; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-semiboldit-webfont.svg#Proxima") format("svg"); } }

@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-xbold-webfont.eot");
  src: url("../fonts/proximanova-xbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-xbold-webfont.woff") format("woff"), url("../fonts/proximanova-xbold-webfont.ttf") format("truetype"), url("../fonts/proximanova-xbold-webfont.svg#Proxima") format("svg");
  font-weight: 900;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-xbold-webfont.svg#Proxima") format("svg"); } }

/* ==========================================================================
   Typography
   ========================================================================== */
body {
  color: rgba(0, 0, 0, 0.87);
  font: 15px/25px Proxima, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px transparent; }

/*    Headers
/*--------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  clear: both;
  margin: 0;
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 3em;
  line-height: 1.1em; }

h2 {
  font-size: 2.5em;
  line-height: 1.2em; }

h3 {
  font-size: 2.2em;
  line-height: 1.2em; }

h4 {
  font-size: 2em;
  line-height: 1.2em; }

h5 {
  font-size: 1.5em;
  line-height: 1.3em; }

h6 {
  font-size: 1em;
  line-height: 1.3em;
  font-weight: 600; }

/* Custom Headers */
.page h2, .page h3, .page h4, .page h5, .page h6 {
  margin-top: .5em;
  margin-bottom: .5em; }

.home h1, .home h2, .home h3, .home h4, .home h5, .home h6 {
  margin-top: 0; }

.home h2 {
  font-size: 5em;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0; }

.home h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  font-size: 1.3em;
  margin-bottom: 20px; }

.home h4 {
  margin-bottom: 0;
  font-size: 1em; }

h1.search-title {
  margin-bottom: 40px; }

h1 span {
  display: block;
  font-size: .2em;
  line-height: 1em; }

.archive .main header h2 {
  font-size: 2em; }

.tax-people_cat .main header h2.filter-title {
  color: white;
  background-color: #6c94ad;
  padding: 10px 0; }

h2.subtitle {
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: lighter;
  font-style: italic; }

.page-nav h3 {
  display: inline-block;
  padding: 0 40px;
  color: white;
  font-weight: bold;
  background: #005d90;
  height: 50px;
  font-size: 1em;
  line-height: 50px;
  text-transform: uppercase;
  margin: 0; }

.archive .main header h3 {
  font-size: 1.2em; }

.col + .col h4 {
  font-size: 1em; }

/*    Text Elements
/*--------------------------------------*/
strong {
  font-weight: bold; }

em {
  font-style: italic; }

hr {
  color: rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.12);
  height: 1px;
  border: none;
  margin: 30px 0; }

p {
  margin: 2em 0; }

h1 + p, h1 + ul, h1 + ol, h1 + dl, h2 + p, h2 + ul, h2 + ol, h2 + dl, h3 + p, h3 + ul, h3 + ol, h3 + dl, h4 + p, h4 + ul, h4 + ol, h4 + dl, h5 + p, h5 + ul, h5 + ol, h5 + dl, h6 + p, h6 + ul, h6 + ol, h6 + dl {
  margin-top: 5px; }

ul, ol {
  padding: 0; }

li {
  margin: 0 0 0 20px;
  list-style-type: disc; }

ol li {
  list-style-type: decimal; }

cite {
  font-style: italic; }

blockquote {
  font: 1.4em/1.7em Cambria, Georgia, Times, "Times New Roman", serif;
  color: #6c94ad;
  border-left: 5px solid #6c94ad;
  margin: 30px 0 30px -25px;
  padding: 5px 40px 5px 22px;
  width: 725px; }
  blockquote p {
    margin: 0; }

figcaption {
  font-size: .85em;
  line-height: 1.5em; }

dt {
  font-weight: 600; }

dd {
  margin: 0 0 25px 0;
  font-weight: normal; }

/*    Links
/*--------------------------------------*/
a:link, .col a h4 {
  text-decoration: underline;
  color: #366d8f;
  font-weight: 600;
  -webkit-transition: color 0.24s ease-in-out;
  transition: color 0.24s ease-in-out; }

a:hover, a:focus, a:active,
.col a h4:hover, .col a h4:focus, .col a h4:active {
  color: #214357; }

.col a:visited, .main a:visited {
  color: #214357; }

nav a:link, a.btn, .people-list a, .home .col ul a {
  text-decoration: none; }

article p a[href*="//"]:not([href*="clarklibrary.ucla.edu"]).btn, article h1 a[href*="//"]:not([href*="clarklibrary.ucla.edu"]).btn, article h2 a[href*="//"]:not([href*="clarklibrary.ucla.edu"]).btn, article h3 a[href*="//"]:not([href*="clarklibrary.ucla.edu"]).btn, article h4 a[href*="//"]:not([href*="clarklibrary.ucla.edu"]).btn, article h5 a[href*="//"]:not([href*="clarklibrary.ucla.edu"]).btn, article h6 a[href*="//"]:not([href*="clarklibrary.ucla.edu"]).btn {
  background-image: none; }

/*    Accessibility
/*--------------------------------------*/
.skip {
  float: left; }

.skip:focus {
  position: static;
  width: auto;
  height: auto; }

body.fancybox-active {
  overflow: hidden; }

body.fancybox-iosfix {
  position: fixed;
  left: 0;
  right: 0; }

.fancybox-is-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden; }

.fancybox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99992;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.fancybox-outer {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71); }

.fancybox-is-open .fancybox-bg {
  opacity: 0.87;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption-wrap {
  position: absolute;
  direction: ltr;
  z-index: 99997;
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s, visibility 0s linear .25s;
  box-sizing: border-box; }

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption-wrap {
  opacity: 1;
  visibility: visible;
  transition: opacity .25s, visibility 0s; }

.fancybox-infobar {
  top: 0;
  left: 0;
  font-size: 13px;
  padding: 0 10px;
  height: 44px;
  min-width: 44px;
  line-height: 44px;
  color: #ccc;
  text-align: center;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  mix-blend-mode: exclusion; }

.fancybox-toolbar {
  top: 0;
  right: 0;
  margin: 0;
  padding: 0; }

.fancybox-stage {
  overflow: hidden;
  direction: ltr;
  z-index: 99994;
  -webkit-transform: translate3d(0, 0, 0); }

.fancybox-is-closing .fancybox-stage {
  overflow: visible; }

.fancybox-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  outline: none;
  white-space: normal;
  box-sizing: border-box;
  text-align: center;
  z-index: 99994;
  -webkit-overflow-scrolling: touch;
  display: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.fancybox-slide::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0; }

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next {
  display: block; }

.fancybox-slide--image {
  overflow: visible; }

.fancybox-slide--image::before {
  display: none; }

.fancybox-slide--video .fancybox-content,
.fancybox-slide--video iframe {
  background: #000; }

.fancybox-slide--map .fancybox-content,
.fancybox-slide--map iframe {
  background: #E5E3DF; }

.fancybox-slide--next {
  z-index: 99995; }

.fancybox-slide > * {
  display: inline-block;
  position: relative;
  padding: 24px;
  margin: 44px 0 44px;
  border-width: 0;
  vertical-align: middle;
  text-align: left;
  background-color: #fff;
  overflow: auto;
  box-sizing: border-box; }

.fancybox-slide > title,
.fancybox-slide > style,
.fancybox-slide > meta,
.fancybox-slide > link,
.fancybox-slide > script,
.fancybox-slide > base {
  display: none; }

.fancybox-slide .fancybox-image-wrap {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 99995;
  background: transparent;
  cursor: default;
  overflow: visible;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.fancybox-can-zoomOut .fancybox-image-wrap {
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.fancybox-can-zoomIn .fancybox-image-wrap {
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.fancybox-can-drag .fancybox-image-wrap {
  cursor: -webkit-grab;
  cursor: grab; }

.fancybox-is-dragging .fancybox-image-wrap {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.fancybox-image,
.fancybox-spaceball {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  max-width: none;
  max-height: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fancybox-spaceball {
  z-index: 1; }

.fancybox-slide--iframe .fancybox-content {
  padding: 0;
  width: 80%;
  height: 80%;
  max-width: calc(100% - 100px);
  max-height: calc(100% - 88px);
  overflow: visible;
  background: #fff; }

.fancybox-iframe {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background: #fff; }

.fancybox-error {
  margin: 0;
  padding: 40px;
  width: 100%;
  max-width: 380px;
  background: #fff;
  cursor: default; }

.fancybox-error p {
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 16px;
  line-height: 20px; }

/* Buttons */
.fancybox-button {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 10px;
  border: 0;
  border-radius: 0;
  background: rgba(30, 30, 30, 0.6);
  transition: color .3s ease;
  cursor: pointer;
  outline: none; }

.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link {
  color: #ccc; }

.fancybox-button:focus,
.fancybox-button:hover {
  color: #fff; }

.fancybox-button[disabled] {
  color: #ccc;
  cursor: default;
  opacity: 0.6; }

.fancybox-button svg {
  display: block;
  position: relative;
  overflow: visible;
  shape-rendering: geometricPrecision; }

.fancybox-button svg path {
  fill: currentColor;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: 3; }

.fancybox-button--share svg path {
  stroke-width: 1; }

.fancybox-button--play svg path:nth-child(2) {
  display: none; }

.fancybox-button--pause svg path:nth-child(1) {
  display: none; }

.fancybox-button--zoom svg path {
  fill: transparent; }

/* Navigation arrows */
.fancybox-navigation {
  display: none; }

.fancybox-show-nav .fancybox-navigation {
  display: block; }

.fancybox-navigation button {
  position: absolute;
  top: 50%;
  margin: -50px 0 0 0;
  z-index: 99997;
  background: transparent;
  width: 60px;
  height: 100px;
  padding: 17px; }

.fancybox-navigation button:before {
  content: "";
  position: absolute;
  top: 30px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: rgba(30, 30, 30, 0.6); }

.fancybox-navigation .fancybox-button--arrow_left {
  left: 0; }

.fancybox-navigation .fancybox-button--arrow_right {
  right: 0; }

/* Close button on the top right corner of html content */
.fancybox-close-small {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  z-index: 10;
  cursor: pointer; }

.fancybox-close-small:after {
  content: '×';
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  font: 22px/30px Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #888;
  font-weight: 300;
  text-align: center;
  border-radius: 50%;
  border-width: 0;
  background-color: transparent;
  transition: background-color .25s;
  box-sizing: border-box;
  z-index: 2; }

.fancybox-close-small:focus {
  outline: none; }

.fancybox-close-small:focus:after {
  outline: 1px dotted #888; }

.fancybox-close-small:hover:after {
  color: #555;
  background: #eee; }

.fancybox-slide--image .fancybox-close-small,
.fancybox-slide--iframe .fancybox-close-small {
  top: 0;
  right: -40px; }

.fancybox-slide--image .fancybox-close-small:after,
.fancybox-slide--iframe .fancybox-close-small:after {
  font-size: 35px;
  color: #aaa; }

.fancybox-slide--image .fancybox-close-small:hover:after,
.fancybox-slide--iframe .fancybox-close-small:hover:after {
  color: #fff;
  background: transparent; }

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-drag .fancybox-close-small {
  display: none; }

/* Caption */
.fancybox-caption-wrap {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 60px 2vw 0 2vw;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8) 100%);
  pointer-events: none; }

.fancybox-caption {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  -webkit-text-size-adjust: none; }

.fancybox-caption a,
.fancybox-caption button,
.fancybox-caption select {
  pointer-events: all;
  position: relative;
  /* Fix IE11 */ }

.fancybox-caption a {
  color: #fff;
  text-decoration: underline; }

/* Loading indicator */
.fancybox-slide > .fancybox-loading {
  border: 6px solid rgba(100, 100, 100, 0.4);
  border-top: 6px solid rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  -webkit-animation: fancybox-rotate .8s infinite linear;
  animation: fancybox-rotate .8s infinite linear;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  z-index: 99999; }

@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

/* Transition effects */
.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1); }

/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  opacity: 0; }

.fancybox-fx-slide.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  opacity: 0; }

.fancybox-fx-slide.fancybox-slide--current {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1; }

/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1; }

/* transitionEffect: zoom-in-out */
.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
  transform: scale3d(1.5, 1.5, 1.5);
  opacity: 0; }

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
  opacity: 0; }

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1; }

/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous {
  -webkit-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
  opacity: 0; }

.fancybox-fx-rotate.fancybox-slide--next {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  opacity: 0; }

.fancybox-fx-rotate.fancybox-slide--current {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1; }

/* transitionEffect: circular */
.fancybox-fx-circular.fancybox-slide--previous {
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  opacity: 0; }

.fancybox-fx-circular.fancybox-slide--next {
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  opacity: 0; }

.fancybox-fx-circular.fancybox-slide--current {
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  opacity: 1; }

/* transitionEffect: tube */
.fancybox-fx-tube.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg); }

.fancybox-fx-tube.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg); }

.fancybox-fx-tube.fancybox-slide--current {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1); }

/* Share */
.fancybox-share {
  padding: 30px;
  border-radius: 3px;
  background: #f4f4f4;
  max-width: 90%;
  text-align: center; }

.fancybox-share h1 {
  color: #222;
  margin: 0 0 20px 0;
  font-size: 35px;
  font-weight: 700; }

.fancybox-share p {
  margin: 0;
  padding: 0; }

p.fancybox-share__links {
  margin-right: -10px; }

.fancybox-share__button {
  display: inline-block;
  text-decoration: none;
  margin: 0 10px 10px 0;
  padding: 0 15px;
  min-width: 130px;
  border: 0;
  border-radius: 3px;
  background: #fff;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  transition: all .2s; }

.fancybox-share__button:hover {
  text-decoration: none; }

.fancybox-share__button--fb {
  background: #3b5998; }

.fancybox-share__button--fb:hover {
  background: #344e86; }

.fancybox-share__button--pt {
  background: #bd081d; }

.fancybox-share__button--pt:hover {
  background: #aa0719; }

.fancybox-share__button--tw {
  background: #1da1f2; }

.fancybox-share__button--tw:hover {
  background: #0d95e8; }

.fancybox-share__button svg {
  position: relative;
  top: -1px;
  width: 25px;
  height: 25px;
  margin-right: 7px;
  vertical-align: middle; }

.fancybox-share__button svg path {
  fill: #fff; }

.fancybox-share__input {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0 0 0;
  padding: 10px 15px;
  background: transparent;
  color: #5d5b5b;
  font-size: 14px;
  outline: none;
  border: 0;
  border-bottom: 2px solid #d7d7d7; }

/* Thumbs */
.fancybox-thumbs {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 212px;
  margin: 0;
  padding: 2px 2px 4px 2px;
  background: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  box-sizing: border-box;
  z-index: 99995; }

.fancybox-thumbs-x {
  overflow-y: hidden;
  overflow-x: auto; }

.fancybox-show-thumbs .fancybox-thumbs {
  display: block; }

.fancybox-show-thumbs .fancybox-inner {
  right: 212px; }

.fancybox-thumbs > ul {
  list-style: none;
  position: absolute;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0;
  white-space: nowrap; }

.fancybox-thumbs-x > ul {
  overflow: hidden; }

.fancybox-thumbs-y > ul::-webkit-scrollbar {
  width: 7px; }

.fancybox-thumbs-y > ul::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.fancybox-thumbs-y > ul::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px; }

.fancybox-thumbs > ul > li {
  float: left;
  overflow: hidden;
  padding: 0;
  margin: 2px;
  width: 100px;
  height: 75px;
  max-width: calc(50% - 4px);
  max-height: calc(100% - 8px);
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box; }

li.fancybox-thumbs-loading {
  background: rgba(0, 0, 0, 0.1); }

.fancybox-thumbs > ul > li > img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
  max-height: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fancybox-thumbs > ul > li:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 4px solid #4ea7f9;
  z-index: 99991;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.fancybox-thumbs > ul > li.fancybox-thumbs-active:before {
  opacity: 1; }

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px) {
  .fancybox-thumbs {
    width: 110px; }
  .fancybox-show-thumbs .fancybox-inner {
    right: 110px; }
  .fancybox-thumbs > ul > li {
    max-width: calc(100% - 10px); } }

/*	Button Styles
/*--------------------------------------*/
header .btn, header button, header input[type="submit"], header a.btn, footer .btn, footer button, footer input[type="submit"], footer a.btn, article .btn, article button, article input[type="submit"], article a.btn, .col .btn, .col button, .col input[type="submit"], .col a.btn {
  background: #6c94ad;
  color: white !important;
  padding: 3px 10px;
  font-weight: bold;
  letter-spacing: .05em;
  min-width: 90px;
  display: inline-block;
  text-align: center;
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  background-clip: padding-box;
  -webkit-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out; }
  header .btn:hover, header button:hover, header input:hover[type="submit"], footer .btn:hover, footer button:hover, footer input:hover[type="submit"], article .btn:hover, article button:hover, article input:hover[type="submit"], .col .btn:hover, .col button:hover, .col input:hover[type="submit"], header .btn:focus, header button:focus, header input:focus[type="submit"], footer .btn:focus, footer button:focus, footer input:focus[type="submit"], article .btn:focus, article button:focus, article input:focus[type="submit"], .col .btn:focus, .col button:focus, .col input:focus[type="submit"] {
    background: #366d8f;
    color: white; }
  header .btn:active, header button:active, header input:active[type="submit"], footer .btn:active, footer button:active, footer input:active[type="submit"], article .btn:active, article button:active, article input:active[type="submit"], .col .btn:active, .col button:active, .col input:active[type="submit"] {
    top: 1px; }

header input[type="submit"], footer input[type="submit"], article input[type="submit"], .col input[type="submit"] {
  padding: 6px 10px; }

.btn.give {
  margin: 0 auto;
  text-align: center;
  min-width: 80px;
  letter-spacing: 0; }

button.outline {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0;
  background: none;
  border: 2px solid white;
  margin-top: 35px;
  padding: 7px 25px;
  border-radius: 25px;
  background-clip: padding-box;
  -webkit-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out; }
  button.outline:hover, button.outline:focus {
    background: #366d8f;
    color: white; }

.tribe-bar-submit .tribe-events-button, .tribe-events-read-more, .tribe-events-read-more:link, .tribe-events-list-widget a.btn {
  background-color: #6c94ad !important;
  line-height: 1em !important;
  color: white !important;
  padding: 8px 20px !important;
  font-weight: bold !important;
  letter-spacing: 1px !important;
  min-width: 90px !important;
  display: inline-block !important;
  text-align: center !important;
  border: none !important;
  cursor: pointer !important;
  position: relative !important;
  border-radius: 15px !important;
  background-clip: padding-box !important;
  transition: background-color 0.24s ease-in-out !important;
  -webkit-transition: background-color 0.24s ease-in-out !important; }
  .tribe-bar-submit .tribe-events-button:hover, .tribe-bar-submit .tribe-events-button:focus, .tribe-events-read-more:hover, .tribe-events-read-more:focus, .tribe-events-read-more:link:hover, .tribe-events-read-more:link:focus, .tribe-events-list-widget a.btn:hover, .tribe-events-list-widget a.btn:focus {
    background-color: #366d8f !important;
    color: white !important; }
  .tribe-bar-submit .tribe-events-button:active, .tribe-events-read-more:active, .tribe-events-read-more:link:active, .tribe-events-list-widget a.btn:active {
    top: 1px; }

/*	Form Styles
/*--------------------------------------*/
fieldset {
  border: none;
  padding: 0; }

label {
  font-weight: bold; }

input + label {
  font-weight: normal; }

form ul li ul li label {
  padding-left: 10px; }

label span {
  color: #790000;
  margin-left: 5px; }

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
  padding: 0 10px;
  width: 280px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  display: block;
  height: 35px;
  line-height: 2.5em;
  color: rgba(0, 0, 0, 0.87);
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.03);
  -webkit-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out; }
  input[type="text"]:focus, input[type="text"]:active,
  input[type="password"]:focus,
  input[type="password"]:active,
  input[type="datetime"]:focus,
  input[type="datetime"]:active,
  input[type="datetime-local"]:focus,
  input[type="datetime-local"]:active,
  input[type="date"]:focus,
  input[type="date"]:active,
  input[type="month"]:focus,
  input[type="month"]:active,
  input[type="time"]:focus,
  input[type="time"]:active,
  input[type="week"]:focus,
  input[type="week"]:active,
  input[type="number"]:focus,
  input[type="number"]:active,
  input[type="email"]:focus,
  input[type="email"]:active,
  input[type="url"]:focus,
  input[type="url"]:active,
  input[type="tel"]:focus,
  input[type="tel"]:active,
  input[type="color"]:focus,
  input[type="color"]:active,
  select:focus,
  select:active,
  textarea:focus,
  textarea:active,
  .field:focus,
  .field:active {
    background-color: white; }
  input[type="text"].error, input[type="text"].is-invalid,
  input[type="password"].error,
  input[type="password"].is-invalid,
  input[type="datetime"].error,
  input[type="datetime"].is-invalid,
  input[type="datetime-local"].error,
  input[type="datetime-local"].is-invalid,
  input[type="date"].error,
  input[type="date"].is-invalid,
  input[type="month"].error,
  input[type="month"].is-invalid,
  input[type="time"].error,
  input[type="time"].is-invalid,
  input[type="week"].error,
  input[type="week"].is-invalid,
  input[type="number"].error,
  input[type="number"].is-invalid,
  input[type="email"].error,
  input[type="email"].is-invalid,
  input[type="url"].error,
  input[type="url"].is-invalid,
  input[type="tel"].error,
  input[type="tel"].is-invalid,
  input[type="color"].error,
  input[type="color"].is-invalid,
  select.error,
  select.is-invalid,
  textarea.error,
  textarea.is-invalid,
  .field.error,
  .field.is-invalid {
    color: red;
    border-color: red;
    background-color: white;
    outline-color: red; }
  input[type="text"].success, input[type="text"].is-valid,
  input[type="password"].success,
  input[type="password"].is-valid,
  input[type="datetime"].success,
  input[type="datetime"].is-valid,
  input[type="datetime-local"].success,
  input[type="datetime-local"].is-valid,
  input[type="date"].success,
  input[type="date"].is-valid,
  input[type="month"].success,
  input[type="month"].is-valid,
  input[type="time"].success,
  input[type="time"].is-valid,
  input[type="week"].success,
  input[type="week"].is-valid,
  input[type="number"].success,
  input[type="number"].is-valid,
  input[type="email"].success,
  input[type="email"].is-valid,
  input[type="url"].success,
  input[type="url"].is-valid,
  input[type="tel"].success,
  input[type="tel"].is-valid,
  input[type="color"].success,
  input[type="color"].is-valid,
  select.success,
  select.is-valid,
  textarea.success,
  textarea.is-valid,
  .field.success,
  .field.is-valid {
    color: green;
    border-color: green;
    background-color: white;
    outline-color: green; }
  input[type="text"][disabled], input[type="text"].is-disabled,
  input[type="password"][disabled],
  input[type="password"].is-disabled,
  input[type="datetime"][disabled],
  input[type="datetime"].is-disabled,
  input[type="datetime-local"][disabled],
  input[type="datetime-local"].is-disabled,
  input[type="date"][disabled],
  input[type="date"].is-disabled,
  input[type="month"][disabled],
  input[type="month"].is-disabled,
  input[type="time"][disabled],
  input[type="time"].is-disabled,
  input[type="week"][disabled],
  input[type="week"].is-disabled,
  input[type="number"][disabled],
  input[type="number"].is-disabled,
  input[type="email"][disabled],
  input[type="email"].is-disabled,
  input[type="url"][disabled],
  input[type="url"].is-disabled,
  input[type="tel"][disabled],
  input[type="tel"].is-disabled,
  input[type="color"][disabled],
  input[type="color"].is-disabled,
  select[disabled],
  select.is-disabled,
  textarea[disabled],
  textarea.is-disabled,
  .field[disabled],
  .field.is-disabled {
    cursor: not-allowed;
    border-color: gray;
    opacity: 0.6; }
    input[type="text"][disabled]:focus, input[type="text"][disabled]:active, input[type="text"].is-disabled:focus, input[type="text"].is-disabled:active,
    input[type="password"][disabled]:focus,
    input[type="password"][disabled]:active,
    input[type="password"].is-disabled:focus,
    input[type="password"].is-disabled:active,
    input[type="datetime"][disabled]:focus,
    input[type="datetime"][disabled]:active,
    input[type="datetime"].is-disabled:focus,
    input[type="datetime"].is-disabled:active,
    input[type="datetime-local"][disabled]:focus,
    input[type="datetime-local"][disabled]:active,
    input[type="datetime-local"].is-disabled:focus,
    input[type="datetime-local"].is-disabled:active,
    input[type="date"][disabled]:focus,
    input[type="date"][disabled]:active,
    input[type="date"].is-disabled:focus,
    input[type="date"].is-disabled:active,
    input[type="month"][disabled]:focus,
    input[type="month"][disabled]:active,
    input[type="month"].is-disabled:focus,
    input[type="month"].is-disabled:active,
    input[type="time"][disabled]:focus,
    input[type="time"][disabled]:active,
    input[type="time"].is-disabled:focus,
    input[type="time"].is-disabled:active,
    input[type="week"][disabled]:focus,
    input[type="week"][disabled]:active,
    input[type="week"].is-disabled:focus,
    input[type="week"].is-disabled:active,
    input[type="number"][disabled]:focus,
    input[type="number"][disabled]:active,
    input[type="number"].is-disabled:focus,
    input[type="number"].is-disabled:active,
    input[type="email"][disabled]:focus,
    input[type="email"][disabled]:active,
    input[type="email"].is-disabled:focus,
    input[type="email"].is-disabled:active,
    input[type="url"][disabled]:focus,
    input[type="url"][disabled]:active,
    input[type="url"].is-disabled:focus,
    input[type="url"].is-disabled:active,
    input[type="tel"][disabled]:focus,
    input[type="tel"][disabled]:active,
    input[type="tel"].is-disabled:focus,
    input[type="tel"].is-disabled:active,
    input[type="color"][disabled]:focus,
    input[type="color"][disabled]:active,
    input[type="color"].is-disabled:focus,
    input[type="color"].is-disabled:active,
    select[disabled]:focus,
    select[disabled]:active,
    select.is-disabled:focus,
    select.is-disabled:active,
    textarea[disabled]:focus,
    textarea[disabled]:active,
    textarea.is-disabled:focus,
    textarea.is-disabled:active,
    .field[disabled]:focus,
    .field[disabled]:active,
    .field.is-disabled:focus,
    .field.is-disabled:active {
      background-color: blue; }

select[multiple] {
  height: 120px; }

input[type="password"] {
  letter-spacing: 0.3em; }

input[type="submit"] {
  padding: 6px 10px;
  border: none; }

.search-form {
  position: relative; }
  .search-form .search-btn {
    position: absolute;
    padding: 5px;
    right: 5px;
    top: -3px;
    min-width: auto;
    background: none;
    font-size: 1.2em;
    color: #8e8e8e !important;
    border: none;
    -webkit-transition: color 0.24s ease-in-out;
    transition: color 0.24s ease-in-out; }
    .search-form .search-btn:hover {
      color: #666 !important; }
    .search-form .search-btn:active {
      top: 30px; }

input[type="search"] {
  width: 140px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  font-size: .85em;
  padding: 5px 40px 5px 10px;
  background: rgba(0, 0, 0, 0.03);
  font-weight: bold;
  margin-bottom: 10px;
  -webkit-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out; }
  input[type="search"]:focus {
    background-color: white; }

textarea {
  width: 500px;
  max-width: 640px;
  min-height: 120px;
  line-height: 1.5em;
  padding: 10px; }

select {
  width: 302px; }

select[multiple="multiple"] {
  height: 100px;
  padding: 10px; }

form li {
  list-style: none;
  margin: 10px 0; }

form ul li ul li {
  list-style: none;
  margin: 0; }

.validation_error {
  font-weight: bold;
  padding: 10px;
  border: 2px solid #790000;
  border-radius: 5px;
  text-align: center; }

.validation_message {
  font-style: italic; }

/*    E V E N T S
/*--------------------------------------*/
.post-type-archive-tribe_events .col {
  float: none;
  width: 100%; }

.tribe-bar-submit {
  float: right !important;
  width: 140px;
  margin: 1px 20px 0 0; }

.tribe-events-read-more, .tribe-events-read-more:link, .tribe-events-list-widget a.btn {
  padding: 3px 0 !important; }

.tribe-bar-submit .tribe-events-button {
  margin-top: 10px !important; }

#tribe-events-content.tribe-events-month {
  width: 940px;
  margin: 0 auto; }

#tribe-events-content {
  width: 640px;
  margin: 0 auto; }

.tribe-events-venue-details {
  font-weight: normal; }

.tribe-events-list .vevent.hentry {
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: 2px; }

.tribe-events-schedule {
  margin: 0 !important; }
  .tribe-events-schedule p {
    margin-top: 0; }

#tribe-bar-views select, .tribe-bar-views-inner, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
  background-color: #eee !important; }

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover {
  background-color: #e0e0e0 !important; }

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover {
  background-color: #e0e0e0 !important; }

.tribe-events-list-widget .duration {
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5em;
  font-size: .85em; }

.tribe-events-list-widget .duration span {
  display: inline;
  font-weight: bold;
  padding: 0;
  margin: 0; }

.tribe-events-list-widget .tribe-events-widget-link {
  padding-left: 0; }

.tribe-events-list-widget ol li {
  margin-bottom: 20px; }

#tribe-bar-form {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 0 0 0 20px; }
  #tribe-bar-form label {
    font-size: 1em;
    margin-top: 5px; }
  #tribe-bar-form input[type="text"] {
    font-weight: normal; }

/*	Conferences
/*--------------------------------------*/
.single-conference {
  /* Google Map */ }
  .single-conference #hero {
    height: auto;
    margin-bottom: 0; }
  .single-conference .overlay {
    background-color: rgba(33, 67, 87, 0.7);
    float: left;
    clear: both;
    width: 100%; }
  .single-conference .site-link {
    background: #214357 url("../images/thin-arrow-left.png") no-repeat 20px center;
    display: inline-block;
    padding: 10px 25px 10px 45px;
    color: white;
    position: absolute; }
  .single-conference .col {
    float: none;
    margin: 0 auto; }
  .single-conference header.top {
    color: white;
    text-align: center; }
    .single-conference header.top h2 {
      line-height: 1em; }
    .single-conference header.top nav.desktop, .single-conference header.top nav.desktop ul {
      width: 940px;
      float: none; }
    .single-conference header.top nav.desktop a {
      font-size: 1em; }
    .single-conference header.top .current_page_item a {
      border-bottom: 2px solid #214357; }
    .single-conference header.top nav.mobile {
      display: none; }
  .single-conference .landing header.top .content {
    padding-top: 130px; }
  .single-conference .landing header.top h1 {
    font-size: 7em;
    line-height: 1em;
    font-weight: 900;
    color: white;
    display: block;
    margin: 0 auto; }
    .single-conference .landing header.top h1.large {
      font-size: 7em; }
    .single-conference .landing header.top h1.medium {
      font-size: 5em; }
    .single-conference .landing header.top h1.small {
      font-size: 3em; }
  .single-conference .landing header.top .subtitle {
    font-size: .3em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px; }
  .single-conference .landing header.top nav.desktop a {
    color: white; }
  .single-conference .landing header.top .details {
    font-size: 1.5em;
    margin: 30px 0 60px 0;
    border-top: 1px solid white; }
    .single-conference .landing header.top .details p {
      margin: 1em 0; }
    .single-conference .landing header.top .details a {
      color: white;
      text-decoration: underline; }
  .single-conference .landing header.top a.btn {
    font-size: 1.5em;
    text-transform: uppercase;
    border: 2px solid white;
    padding: 10px 45px;
    margin: 0 0 60px 0;
    border-radius: 0;
    background: none; }
    .single-conference .landing header.top a.btn:hover, .single-conference .landing header.top a.btn:focus {
      background: #366d8f;
      color: white; }
  .single-conference .not-landing header.top h2 {
    font-size: 3em;
    font-weight: 900;
    display: block;
    margin: 20px auto 0 auto; }
  .single-conference .not-landing header.top nav.desktop a, .single-conference .not-landing header.top .content a {
    color: #214357; }
  .single-conference .not-landing #hero {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    float: left;
    clear: both;
    margin: 0;
    -webkit-box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
    -moz-box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
    box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14); }
  .single-conference .schedule {
    margin-bottom: 30px;
    float: left;
    clear: both; }
    .single-conference .schedule h6 {
      margin-top: 0; }
    .single-conference .schedule li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      list-style: none;
      padding: 20px 0;
      margin: 0;
      float: left;
      clear: both; }
    .single-conference .schedule .time {
      width: 120px;
      float: left;
      clear: left; }
    .single-conference .schedule .session {
      width: 500px;
      margin-left: 20px;
      float: right;
      clear: right; }
    .single-conference .schedule p {
      margin: 1em 0; }
  .single-conference ul.speakers {
    float: left; }
    .single-conference ul.speakers li {
      margin: 0;
      padding: 15px 0;
      list-style: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      float: left;
      width: 100%; }
    .single-conference ul.speakers li img {
      width: 160px;
      height: 160px;
      margin-right: 20px;
      float: left; }
    .single-conference ul.speakers .circle {
      border-radius: 140px; }
    .single-conference ul.speakers .rounded {
      border-radius: 70px; }
    .single-conference ul.speakers .speaker-details {
      width: 460px;
      float: left; }
      .single-conference ul.speakers .speaker-details h4 {
        margin-top: 0; }
      .single-conference ul.speakers .speaker-details.full {
        width: 100%; }
  .single-conference .map {
    width: 100%;
    height: 600px;
    margin: 0; }
  .single-conference .map img {
    max-width: inherit !important; }

@media only screen and (max-width: 960px) {
  .single-conference .landing #hero {
    display: block; }
  .single-conference .landing header.top {
    font-size: .8em; }
    .single-conference .landing header.top h1, .single-conference .landing header.top h2 {
      width: 90%; }
    .single-conference .landing header.top nav.mobile {
      display: block;
      font-size: 1.3em; }
    .single-conference .landing header.top nav.mobile a {
      color: white; }
    .single-conference .landing header.top nav.mobile ul {
      width: 100%;
      padding: 0;
      margin: 0; }
    .single-conference .landing header.top nav.mobile ul li {
      display: block;
      margin: 0 10px 0 0; }
  .single-conference .not-landing #hero {
    display: none; }
  .single-conference .not-landing header.top {
    padding-top: 50px; }
    .single-conference .not-landing header.top h2 {
      line-height: 1em; }
    .single-conference .not-landing header.top nav.desktop, .single-conference .not-landing header.top nav.desktop ul {
      display: block;
      width: 100%; }
    .single-conference .not-landing header.top nav.desktop ul li {
      display: block;
      margin: 0 10px 0 0; }
  .single-conference .col {
    max-width: 700px !important;
    margin: 0 auto !important;
    float: none !important; }
  .single-conference .schedule {
    width: 100%; }
    .single-conference .schedule .session, .single-conference .schedule li {
      width: 100%;
      float: none;
      clear: none; }
  .single-conference ul.speakers li img {
    width: 160px;
    height: 160px;
    margin: 0 auto 20px auto;
    display: block;
    float: none; }
  .single-conference ul.speakers .speaker-details {
    width: 100%;
    float: none; } }

/* ==========================================================================
	Main Styles - Desktop
	
	Table of Contents
	
	1. Main Containers
	2. Homepage
	3. Header
	4. Navigation
	5. Footer
	6. Person Page
	7. People Archive
	8. Books
	9. Articles/Posts
	10. Other
	
	========================================================================== */
/*	1. Main Containers
/*--------------------------------------*/
#container {
  width: 100%;
  overflow: auto;
  zoom: 1; }

#container {
  width: 100%;
  overflow: auto;
  zoom: 1; }

.content, header {
  width: 940px;
  margin: 0 auto; }

.content-container {
  width: 100%;
  float: left; }

#hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 400px;
  float: left;
  clear: both;
  margin: 0;
  -webkit-box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
  -moz-box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
  box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14); }

.col {
  width: 700px;
  margin: 0 auto; }

.col + .col {
  margin: 10px 0 30px 50px; }

.page-template-page-full .col {
  width: 100%; }

/*	2. Homepage
/*--------------------------------------*/
.home #hero {
  height: 660px;
  margin: 0 0 40px 0; }
  .home #hero .content {
    width: 100%;
    height: 660px;
    position: relative;
    -webkit-box-shadow: inset 0 -100px 100px 60px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 -100px 100px 60px rgba(0,0,0,0.5);
    box-shadow: inset 0 -100px 100px 60px rgba(0,0,0,0.5); }
  .home #hero .hero-description {
    color: white;
    text-align: center;
    width: 100%;
    padding: 0 0 40px 0;
    margin: 0 auto;
    position: absolute;
    bottom: 0; }
    .home #hero .hero-description p {
      font-size: 1.5em;
      width: 940px;
      margin: 0 auto; }

.home .col {
  float: left; }
  .home .col ul {
    margin-top: 0; }
  .home .col li {
    list-style: none;
    margin-left: 0; }
  .home .col p, .home .col span.description {
    padding: 0;
    margin: 0 0 20px 0;
    line-height: 1.5em;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    display: block; }
  .home .col .post-date {
    font-weight: bold;
    display: block;
    color: rgba(0, 0, 0, 0.87); }
  .home .col.one {
    width: 280px;
    padding: 0; }
  .home .col.two {
    width: 460px; }
  .home .col.content-col p {
    font-size: 1em; }
  .home .col.news-col .news-item p {
    color: rgba(0, 0, 0, 0.87);
    font-weight: normal; }
  .home .col.news-col li {
    padding: 0 0 5px 0;
    clear: both; }
  .home .col.news-col .btn {
    margin-top: -5px; }
  .home .col.news-col.one .news-item {
    float: right;
    width: auto; }
  .home .col.news-col.two .news-item {
    float: right;
    width: 330px; }
  .home .col.news-col.two img {
    margin-top: 3px; }
  .home .col.news-col.two .btn {
    margin-left: 130px; }
  .home .col.rss-col li {
    margin-bottom: 20px; }
  .home .col.rss-col div {
    font-weight: normal;
    display: block;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.5em; }
  .home .col.rss-col img {
    display: none;
    max-width: 100%;
    height: auto; }

.home .col + .col {
  margin: 0 0 0 50px;
  background-color: white; }
  .home .col + .col li {
    padding: 0; }

/*	3. Header
/*--------------------------------------*/
header {
  padding: 35px 0 0 0; }
  header.top h1, header.top h2 {
    width: 791px;
    display: inline-block;
    margin: 0;
    float: right;
    clear: right; }
  header .dept-logo {
    width: 791px;
    height: 82px; }
  header nav {
    clear: both;
    float: left;
    padding: 30px 0 20px 0; }
  header nav.mobile {
    display: none; }
  header nav ul {
    width: 820px; }
  header .search {
    float: right;
    clear: right;
    margin-top: 30px; }
  header .give-back {
    width: 100px;
    text-align: right;
    float: right;
    margin-top: 27px; }
    header .give-back span {
      font-size: .85em; }
  header .university-logo {
    float: left;
    margin-top: 24px;
    width: 119px;
    height: 38px; }

.breadcrumbs {
  width: 100%;
  float: left;
  clear: both;
  font-size: .85em;
  padding: 8px 0;
  margin-bottom: 40px; }
  .breadcrumbs img {
    margin: 0;
    padding: 0; }
  .breadcrumbs ul {
    margin: 0;
    padding: 0;
    clear: both;
    float: left; }
  .breadcrumbs li {
    float: left;
    display: inline-block;
    padding: 0 0 0 10px;
    margin: 0; }
  .breadcrumbs li + li {
    margin: 0 0 0 5px;
    background: url("../images/arrow.png") no-repeat left center; }
  .breadcrumbs a {
    font-weight: bold;
    color: #366d8f;
    text-decoration: underline; }

/*	4. Navigation
/*--------------------------------------*/
header nav.desktop ul, footer nav ul {
  padding: 0;
  margin: 0;
  float: left; }

header nav.desktop ul li, footer nav ul li {
  display: inline-block;
  margin: 0 8px 0 0; }

header nav.desktop ul li {
  position: relative; }

header nav.desktop ul li.divider {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  padding-left: 12px; }

/* Drop Down */
header nav.desktop ul li ul {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  padding: 0 10px;
  width: 170px;
  top: 20px;
  border-top: 4px solid #c2d7e6;
  margin-top: 5px;
  background-color: white;
  z-index: 10000;
  -webkit-box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
  -moz-box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
  box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
  -webkit-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out; }

header nav.desktop ul li ul li, header nav.desktop ul li ul li a {
  display: block;
  margin: 0; }

header nav.desktop ul li ul li a {
  line-height: 1em;
  padding: 6px 0; }

header nav.desktop ul li:hover ul, header nav.desktop .sub-menu.open {
  display: block;
  opacity: 1;
  visibility: visible; }

header nav.desktop ul li.menu-item-has-children a:after {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  padding-left: 5px; }

header nav.desktop ul li.menu-item-has-children ul.sub-menu a {
  padding-right: 0; }
  header nav.desktop ul li.menu-item-has-children ul.sub-menu a:after {
    content: none; }

header nav.desktop a {
  font-weight: 600;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 1px; }

header nav.desktop a, header nav.desktop a:link {
  color: #366d8f;
  cursor: pointer;
  -webkit-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out; }

header nav.desktop a:hover, header nav.desktop a:focus, header nav.desktop a:active {
  color: #214357; }

/* Secondary Menu */
.nav-container {
  background: #5886a2;
  height: 50px;
  float: left;
  clear: both;
  width: 100% !important;
  z-index: 9999999; }

.page-nav li {
  list-style: none;
  margin-left: 0;
  display: inline-block;
  margin: 0 5px; }

.page-nav ul {
  padding: 0 0 0 20px;
  margin-left: -4px;
  display: inline-block;
  background: url("../images/carrot.png") no-repeat left center; }

.page-nav a {
  color: white;
  font-weight: normal;
  padding: 5px; }

.page-nav .current_page_item a {
  border-bottom: 3px solid white;
  font-weight: bold; }

.page-nav a:hover {
  border-bottom: 3px solid white; }

.page-nav form {
  float: right;
  margin-top: 12px; }
  .page-nav form input[type="search"] {
    background-color: white; }

/*	5. Footer
/*--------------------------------------*/
footer {
  background-color: #366d8f;
  clear: both;
  margin-top: 60px;
  float: left;
  width: 100%;
  padding: 35px 0 40px 0;
  color: white;
  font-size: 1em;
  line-height: 1.5em;
  /* Footer Nav */ }
  footer nav a, footer nav a:link, footer nav a:visited {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .85em; }
  footer nav ul.footer-nav {
    clear: left;
    float: left; }
  footer nav ul.social-links {
    clear: right;
    float: right;
    font-size: 1.7em; }
    footer nav ul.social-links li {
      margin: 0; }
      footer nav ul.social-links li:nth-child(1n+2) {
        margin-left: 5px; }
  footer .search-form {
    display: none; }
  footer .copyright {
    padding-top: 50px;
    font-size: .8em; }
    footer .copyright .university-logo img {
      float: left;
      width: 100px;
      height: 32px; }
    footer .copyright p {
      float: left;
      margin: 0 0 0 20px; }
    footer .copyright span {
      margin: 0 5px; }
    footer .copyright a, footer .copyright a:link, footer .copyright a:visited {
      color: white;
      text-transform: none;
      text-decoration: underline; }

/*	6. Person Page
/*--------------------------------------*/
.single-people .details span {
  display: inline; }

.single-people .details span + span {
  margin-left: 20px; }

.single-people .details p {
  margin-top: 0; }

.single-people .col + .col {
  margin-top: 0; }

.single-people article header {
  padding: 0; }
  .single-people article header img {
    display: none; }

.single-people .bio {
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 20px; }

.single-people .col-nav ul {
  margin-bottom: 40px; }

.single-people .photo {
  width: 280px;
  height: 280px;
  margin-bottom: 10px; }

.single-people .circle {
  border-radius: 140px; }

.single-people .rounded {
  border-radius: 70px; }

.link:before {
  content: "\f0c1";
  font-family: "Font Awesome 5 Free";
  padding-right: 5px;
  color: #6c94ad;
  font-size: .9em; }

.download:before {
  content: "\f019";
  font-family: "Font Awesome 5 Free";
  padding-right: 5px;
  color: #6c94ad;
  font-size: .9em; }

/*	7. People Archive
/*--------------------------------------*/
/* Filters */
.page-template-page-people-listing .main header {
  float: left;
  clear: both; }

.filter {
  clear: both;
  float: left;
  margin: 20px 0;
  width: 100%; }
  .filter ul {
    padding: 0; }
  .filter li {
    list-style: none;
    display: inline-block;
    margin: 0 5px; }

.button-group {
  width: 100%;
  float: left; }
  .button-group button {
    margin-right: 5px;
    min-width: 124px;
    letter-spacing: 0; }
  .button-group button.all {
    min-width: 100px;
    margin-right: 10px; }

.dropdown-filter {
  display: none; }

/* People List */
.people-list {
  margin-top: 40px;
  padding: 0 9px;
  clear: both; }
  .people-list ul {
    margin: 30px 0;
    padding: 0; }
  .people-list li {
    list-style: none; }
  .people-list .person-item {
    display: block;
    float: left;
    padding: 15px 10px;
    margin: 0;
    width: 210px;
    height: 210px;
    text-align: center;
    line-height: 1.3em;
    -webkit-transition: background-color 0.24s ease-in-out;
    transition: background-color 0.24s ease-in-out; }
    .people-list .person-item a {
      display: block; }
    .people-list .person-item.hover:active, .people-list .person-item.hover:hover, .people-list .person-item.hover:focus {
      background-color: rgba(0, 0, 0, 0.03); }
    .people-list .person-item.hover .name {
      color: #366d8f; }
    .people-list .person-item .photo {
      border: 7px solid white;
      width: 100px;
      height: 100px; }
    .people-list .person-item .circle {
      border-radius: 60px; }
    .people-list .person-item .rounded {
      border-radius: 25px; }
    .people-list .person-item .name {
      color: rgba(0, 0, 0, 0.87); }
    .people-list .person-item .interest {
      font-size: .8em;
      color: rgba(0, 0, 0, 0.87);
      line-height: 1em;
      margin-top: 10px; }
    .people-list .person-item .position {
      color: rgba(0, 0, 0, 0.53);
      margin-top: 10px; }
    .people-list .person-item .email, .people-list .person-item .office, .people-list .person-item .office-hours, .people-list .person-item .phone {
      font-size: .8em;
      margin-bottom: 0;
      color: rgba(0, 0, 0, 0.87); }
    .people-list .person-item .email a {
      font-size: 1em;
      display: inline-block; }

/* Staff */
.people-list .staff li:hover {
  background: none; }

.people-list .staff .name {
  color: rgba(0, 0, 0, 0.87); }

/*	8. Books
/*--------------------------------------*/
/* General Styles */
.cover {
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.14);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.14);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.14);
  border: 3px solid white; }

.custom-cover {
  background-color: #b4b4b4;
  margin: 0 auto 0 auto; }
  .custom-cover .title {
    color: white;
    font-weight: 600;
    text-align: center;
    display: block; }

.publisher {
  display: block; }

.book-list .title {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 5px; }

.book-list dd.publisher {
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 5px; }

.book-list dd.author a {
  display: block;
  font-size: .8em;
  line-height: 16px; }

/* People Page */
.single-people .book-list {
  float: left; }
  .single-people .book-list img, .single-people .book-list .custom-cover {
    float: left; }
  .single-people .book-list .custom-cover {
    width: 50px;
    height: 60px;
    padding: 20px 5px 10px 5px; }
    .single-people .book-list .custom-cover .title {
      font-size: .42em;
      line-height: 1em; }
  .single-people .book-list li {
    float: left;
    margin: 0 0 20px 0;
    list-style: none;
    display: inline-block;
    width: 320px; }
  .single-people .book-list dl {
    margin-left: 15px;
    float: left;
    clear: none;
    width: 225px; }
  .single-people .book-list dt.title {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 5px; }
  .single-people .book-list dd {
    margin-bottom: 0; }
  .single-people .book-list dd.publisher {
    font-size: 12px;
    line-height: 12px;
    margin: 10px 0; }
  .single-people .book-list dd.author a {
    display: block;
    font-size: .8em;
    line-height: 16px; }
  .single-people .book-list dd.subtitle {
    font-style: italic;
    line-height: .8em; }

/* Book Page */
.single-books .publisher {
  display: block;
  font-size: .8em;
  font-style: italic; }

.single-books .author {
  margin-top: 20px;
  display: block; }

.single-books .author p {
  display: inline; }

.single-books .author-name + .author-name:before {
  content: ",";
  margin: 0 5px 0 -3px; }

.single-books .custom-cover {
  width: 244px;
  height: 313px;
  line-height: 24px;
  padding: 60px 15px 10px 15px; }
  .single-books .custom-cover .title {
    font-size: 24px; }

.single-books .content header {
  width: 100%; }
  .single-books .content header .cover {
    display: none; }

/* Book Archive */
.post-type-archive-books h1 {
  text-align: center; }

.post-type-archive-books .book-list {
  margin-top: 40px;
  clear: both; }
  .post-type-archive-books .book-list ul {
    padding: 0; }
  .post-type-archive-books .book-list li {
    display: inline-block;
    padding: 0;
    margin: 5px 21px;
    width: 190px;
    height: 280px;
    text-align: center;
    vertical-align: top; }
  .post-type-archive-books .book-list .custom-cover {
    width: 91px;
    height: 127px;
    line-height: 9px;
    padding: 20px 5px 10px 5px;
    margin-bottom: 12px; }
    .post-type-archive-books .book-list .custom-cover .title {
      font-size: 9px; }
  .post-type-archive-books .book-list dt.title {
    font-size: 1em;
    line-height: 1em;
    margin: 5px 0; }
  .post-type-archive-books .book-list dd.publisher {
    font-size: .8em;
    line-height: .8em;
    margin-bottom: 5px; }
  .post-type-archive-books .book-list dd.author a {
    display: block;
    font-size: .8em;
    line-height: 1.14em; }
  .post-type-archive-books .book-list a {
    text-decoration: none; }

/*	9. Timeline
/*--------------------------------------*/
ul.timeline {
  border-left: 10px solid rgba(0, 0, 0, 0.12);
  padding-top: 25px; }
  ul.timeline .event-container {
    margin-top: -10px; }
  ul.timeline li {
    margin-left: -14px;
    list-style: none;
    background: url("../images/timeline-bullet.png") no-repeat left 10px;
    padding: 10px 0 0 25px; }
  ul.timeline p {
    margin-top: 0; }

/*	9. Comments
/*--------------------------------------*/
.comment-container {
  border-top: 2px solid rgba(0, 0, 0, 0.12);
  padding: 25px 0 0 0;
  margin: 25px 0 0 0; }
  .comment-container article {
    border-left: 5px solid #6c94ad;
    margin: 30px 0 30px 0;
    padding: 5px 0 5px 22px; }
    .comment-container article header {
      padding-top: 0;
      width: 100%; }
    .comment-container article p {
      margin: 1em 0; }
    .comment-container article cite {
      font-weight: bold;
      font-style: normal; }
    .comment-container article .depth-2 {
      margin-left: 25px; }
  .comment-container #respond textarea {
    width: 100%;
    max-width: 100%;
    min-height: 120px;
    line-height: 1.5em;
    padding: 10px; }

/*	10. Articles/Posts
/*--------------------------------------*/
.category article, .search-results article, .archive article, .page-template-page-blog article {
  margin-top: 20px; }

.category article + article, .page-template-page-blog article + article {
  border-top: 2px solid rgba(0, 0, 0, 0.12);
  padding-top: 20px;
  margin-top: 45px; }

.publish-date {
  margin-top: 0;
  margin-bottom: 20px;
  display: block; }

/*    T A B L E S
/*--------------------------------------*/
td,
th {
  padding: 5px; }

th {
  background-color: #c2d7e6; }

tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.03); }

tr:hover td {
  background-color: rgba(0, 0, 0, 0.06); }

td {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.12); }

/*	10. Other
/*--------------------------------------*/
article img {
  max-width: 100%;
  height: auto; }

img.alignleft, figure.alignleft {
  float: left;
  margin: 15px 15px 15px 0; }

img.alignright, figure.alignright {
  float: right;
  margin: 15px 0 15px 15px; }

img.aligncenter, figure.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pagination li {
  display: inline-block; }

.pagination {
  text-align: center;
  margin-top: 40px; }

.instructors {
  display: block;
  margin-bottom: -20px; }

figure {
  margin-left: 0;
  margin-right: 0; }

.content-subtitle {
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1.6em;
  display: block; }

.notice, .gform_confirmation_wrapper {
  width: 100%;
  margin: 2em 0;
  background: rgba(0, 0, 0, 0.03);
  border-top: 10px solid #347bad;
  padding: 10px 0; }

.notice p, .notice h3 {
  padding: 0 25px; }

.gform_confirmation_wrapper {
  padding: 10px 0 40px 0; }
  .gform_confirmation_wrapper .gform_confirmation_message {
    padding-left: 25px;
    padding-right: 25px; }

/* Courses */
ul.course-list li {
  list-style: none;
  margin-left: 0;
  padding-bottom: 5px; }

ul.course-list h3 {
  margin-bottom: 0; }

ul.course-list p {
  margin: 1em 0 1.5em 0; }

/* Tables */
td,
th {
  padding: 5px; }

th {
  background-color: #c2d7e6; }

tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.03); }

tr:hover td {
  background-color: rgba(0, 0, 0, 0.06); }

td {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.12); }

/* FAQ/Accordion */
h5.topic {
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 0;
  margin: 0; }
  h5.topic button {
    background: none;
    color: #366d8f !important;
    padding: 0;
    margin-bottom: auto;
    letter-spacing: 0;
    line-height: 1.3em;
    text-align: left;
    border-radius: 0;
    -webkit-transition: all 0.24s ease-in-out;
    transition: all 0.24s ease-in-out; }
    h5.topic button:hover, h5.topic button:focus {
      background: none;
      color: #214357 !important; }
    h5.topic button:active {
      top: 0; }
    h5.topic button:before, h5.topic button:before {
      content: "\f0da";
      font-family: "Font Awesome 5 Free";
      width: 20px;
      display: inline-block; }
    h5.topic button[aria-expanded=true]:before, h5.topic button[data-expanded=true]:before {
      content: "\f0d7";
      font-family: "Font Awesome 5 Free";
      width: 20px; }

div.response + h5.faq {
  border-top: 1px solid rgba(0, 0, 0, 0.12); }

div.response {
  padding-left: 20px; }
  div.response p {
    margin: 0 0 1.5em 0; }
  div.response.animated-expandmore__to_expand {
    display: block;
    overflow: hidden;
    opacity: 1;
    transition: visibility 0s ease, max-height .8s ease, opacity 1s ease;
    max-height: 100em;
    visibility: visible;
    transition-delay: 0s; }
  div.response[data-hidden=true].animated-expandmore__to_expand {
    display: block;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition-delay: 1s, 0s, 0s; }

h5.accordion {
  padding: 10px;
  margin: 0;
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out; }
  h5.accordion:hover {
    background: rgba(0, 0, 0, 0.06); }
  h5.accordion button {
    background: none;
    color: #366d8f !important;
    padding: 0;
    margin-bottom: auto;
    letter-spacing: 0;
    line-height: 1.3em;
    text-align: left;
    -webkit-transition: all 0.24s ease-in-out;
    transition: all 0.24s ease-in-out; }
    h5.accordion button:hover, h5.accordion button:focus {
      background: none;
      color: #214357 !important; }
    h5.accordion button:active {
      top: 0; }
    h5.accordion button:before, h5.accordion button:before {
      content: "\f067";
      font-family: "Font Awesome 5 Free";
      font-size: .7em;
      width: 20px;
      display: inline-block; }
    h5.accordion button[aria-expanded=true]:before, h5.accordion button[data-expanded=true]:before {
      content: "\f068";
      font-family: "Font Awesome 5 Free";
      width: 20px; }

div.response.accordion {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-top: none;
  padding: 0;
  margin-top: -2px; }
  div.response.accordion > * {
    margin: 1.5em 20px; }
  div.response.accordion + h5.accordion {
    border-top: none; }
  div.response.accordion[data-hidden=true] {
    padding: 0; }

/* Galleries/Fancybox */
.gallery .gallery-item {
  display: inline-block;
  vertical-align: top; }

.gallery .gallery-item + .gallery-item {
  margin-left: 10px; }

.gallery .gallery-caption {
  max-width: 150px;
  line-height: 16px;
  font-size: 12px;
  font-style: italic; }

.gallery .gallery-icon {
  min-height: 160px; }

.fancybox-container .fancybox-toolbar {
  top: 60px; }

/* Google Map */
.map {
  width: 100%;
  height: 400px;
  margin: 0; }

.map img {
  max-width: inherit !important; }

.color-block {
  width: 103px;
  height: 103px;
  float: left;
  text-align: center;
  line-height: 7em;
  margin: 0 1px; }

.light-primary {
  background: #c2d7e6; }

.primary {
  background: #347bad; }

.dark-primary {
  background: #2b658e; }

.light-secondary {
  background: #6c94ad; }

.secondary {
  background: #366d8f; }

.dark-secondary {
  background: #214357; }

.light {
  color: white; }

@media only screen and (max-width: 960px) {
  /* ==========================================================================
	Mobile Screen Sizes
	
	Table of Contents
	
	1. Main Containers
	2. Homepage
	3. Slider
	4. Header
	5. Navigation
	6. Footer
	7. People Archive
	8. Person Page
	9. Books
	10. Events
	11. Forms
	12. Typography
	13. Other
	14. Posts & Content Styles
	15. Pagination
   
	========================================================================== */
  /*	1. Main Containers
/*--------------------------------------*/
  body {
    font-size: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased; }
  .content, header {
    margin: 0 auto;
    float: none;
    width: 100%; }
  .col, #main-content .content {
    width: 95% !important;
    margin: 0 auto;
    float: none; }
  #main-content {
    margin-bottom: 30px; }
  #hero {
    display: none; }
  /*	2. Homepage
/*--------------------------------------*/
  .home .hero-description {
    width: 95%;
    padding: 0 0 30px 0;
    left: 0;
    right: 0; }
    .home .hero-description h2 {
      width: 100%;
      font-size: 2em;
      line-height: 1.1em; }
    .home .hero-description p {
      width: 100%;
      font-size: 1em; }
  .home #hero {
    display: block;
    height: 400px;
    margin: 0 0 40px 0;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14); }
    .home #hero .content {
      width: 100% !important;
      height: 400px; }
    .home #hero .hero-description {
      width: 95%;
      padding: 0 0 30px 0;
      left: 0;
      right: 0; }
      .home #hero .hero-description h2 {
        width: 100%;
        font-size: 2em;
        line-height: 1.1em; }
      .home #hero .hero-description p {
        width: 100%;
        font-size: 1em; }
  .home .col {
    width: 100% !important;
    float: left;
    margin: 0 auto 30px auto; }
    .home .col ul, .home .col ol {
      float: left;
      clear: both;
      width: 100%; }
    .home .col.news-col ul {
      margin-bottom: 0; }
    .home .col.news-col li {
      padding: 0;
      margin: 0;
      clear: both;
      list-style: none; }
      .home .col.news-col li .news-item {
        float: none;
        width: 100%; }
    .home .col img {
      display: none; }
    .home .col p, .home .col span.description {
      padding: 0;
      margin: 0 0 20px 0;
      line-height: 1.5em;
      font-size: 1em;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.87);
      display: block; }
    .home .col.news-col .btn {
      margin-top: -5px; }
  .home .col + .col {
    width: 100% !important;
    margin: 0 auto 30px auto;
    background-color: white;
    padding: 0; }
    .home .col + .col li {
      padding: 0;
      border: none; }
  .home .news-col .btn {
    margin-left: 0; }
  .home .events-col ul {
    margin: 0 auto 30px auto; }
  /*	3. Slider
/*--------------------------------------*/
  .bx-wrapper {
    height: 150px !important;
    width: 100%;
    margin: 0 auto 0px; }
  #bxslider {
    margin-top: 0; }
  #slider {
    width: 100%; }
    #slider li {
      height: 150px;
      margin: 0;
      width: 100%; }
    #slider .content {
      width: 100% !important; }
    #slider .slider-content {
      background: black;
      width: 100%;
      padding: 0px;
      max-height: 150px;
      bottom: 0px;
      border-left: none; }
      #slider .slider-content h2 {
        font-size: 1em;
        color: white;
        padding: 5px 10px; }
      #slider .slider-content p {
        display: none; }
  /* Direction Controls (Next / Prev) */
  .bx-wrapper .bx-prev {
    left: 10px;
    background: url(../images/mobile-arrow-left.png) no-repeat; }
    .bx-wrapper .bx-prev:hover {
      background: url(../images/mobile-arrow-left-light.png) no-repeat; }
  .bx-wrapper .bx-next {
    right: 10px;
    background: url(../images/mobile-arrow-right.png) no-repeat; }
    .bx-wrapper .bx-next:hover {
      background: url(../images/mobile-arrow-right-light.png) no-repeat; }
  .bx-wrapper .bx-controls-direction a {
    width: 23px;
    height: 40px; }
  /* Pager */
  .bx-pager {
    width: 30%;
    margin-right: 5px;
    float: right; }
    .bx-pager a:hover, .bx-pager a.active {
      background: #366d8f; }
  header .university-logo,
  .give-back,
  header .search-form {
    display: none !important; }
  /*	4. Header
/*--------------------------------------*/
  header {
    padding: 10px 0 10px 0; }
    header.top h1 {
      width: 100% !important;
      display: inline-block;
      margin: 0;
      text-align: center;
      float: none;
      clear: none; }
    header .dept-logo {
      width: 90%;
      max-width: 791px;
      height: auto; }
    header nav {
      float: none; }
  .breadcrumbs {
    background-color: #366d8f;
    width: 100%;
    float: left;
    clear: both;
    color: white;
    font-size: .8em;
    padding: 8px 0;
    margin-bottom: 20px; }
    .breadcrumbs .content {
      width: 95%; }
    .breadcrumbs a {
      font-weight: 600;
      color: white;
      text-decoration: underline; }
  /*	5. Navigation
/*--------------------------------------*/
  header nav.mobile {
    display: block;
    padding: 0;
    margin: -55px 0 0 0; }
  header nav.desktop {
    display: none; }
  header nav ul {
    padding: 0;
    margin: 0;
    float: none;
    width: 100%; }
  header nav ul li {
    display: block;
    margin: 0; }
  header nav ul li {
    position: relative; }
  body #mg-wprm-wrap {
    border-right: 1px solid #eee;
    background-color: white !important;
    -webkit-box-shadow: 18px 0px 7px -3px rgba(0,0,0,0.17);
    -moz-box-shadow: 18px 0px 7px -3px rgba(0,0,0,0.17);
    box-shadow: 18px 0px 7px -3px rgba(0,0,0,0.17); }
  #wprmenu_bar {
    background-color: #366d8f !important; }
    #wprmenu_bar .menu_title {
      color: white !important; }
  #mg-wprm-wrap ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
    border-top: none !important;
    list-style: none;
    padding-left: 0;
    margin: 0; }
    #mg-wprm-wrap ul li ul li:last-child {
      border-bottom: none !important; }
  #mg-wprm-wrap ul li span.wprmenu_icon::before {
    color: rgba(0, 0, 0, 0.87); }
  #mg-wprm-wrap ul.sub-menu {
    padding-bottom: 10px !important; }
  #mg-wprm-wrap li.menu-item ul.sub-menu li.menu-item a {
    padding: 10px 15px; }
  #wprmenu_menu input[type="search"] {
    background-image: none;
    border-radius: 20px;
    font-size: 1em;
    padding: 5px 40px 5px 10px !important; }
  /* Secondary Menu */
  .nav-container {
    display: none; }
  .page-nav h3 {
    display: block;
    padding: 0; }
  .page-nav li {
    display: block;
    margin: 0;
    width: 100%; }
  .page-nav ul {
    padding: 0;
    margin: 5px 0;
    display: block;
    background: none;
    width: 100%; }
  .page-nav a {
    padding: 5px 0;
    display: block; }
  .page-nav .current_page_item a {
    border-bottom: none; }
  .page-nav a:hover {
    border-bottom: none; }
  .page-nav form {
    float: none;
    margin-top: 12px; }
    .page-nav form input[type="search"] {
      background: white url("../images/search-icon.png") no-repeat 160px center; }
  /*    F O O T E R
/*--------------------------------------*/
  footer {
    margin-top: 0px; }
    footer nav ul.footer-nav {
      display: none; }
    footer nav ul.social-links {
      float: none;
      text-align: center; }
      footer nav ul.social-links li {
        margin: 0 5px; }
    footer .copyright {
      padding-top: 10px;
      width: 95%;
      margin: 0 auto; }
      footer .copyright p {
        margin: 0; }
    footer .university-logo {
      display: none; }
    footer .search-form {
      width: 100%;
      margin: 0 auto 10px auto;
      display: block; }
    footer input[type="search"] {
      float: none;
      clear: none;
      margin: 0 auto;
      color: rgba(0, 0, 0, 0.87);
      width: 100%;
      max-width: 280px;
      padding: 5px 10px 5px 10px;
      background: white;
      display: block; }
  /*    A R T I C L E S
/*--------------------------------------*/
  .category article, .search-results article {
    padding: 30px 0; }
  /*    P E O P L E  A R C H I V E
/*--------------------------------------*/
  /* Filters */
  .filter, .filter-title {
    display: none; }
  .archive .content header {
    text-align: left;
    width: 95%;
    margin: 0 auto; }
  /* People List */
  .people-list {
    margin: 20px auto 0 auto;
    padding: 0;
    width: 100%; }
    .people-list ul {
      margin: 0;
      padding: 0; }
  .people-list .person-item {
    float: none !important;
    padding: 15px 0;
    width: 100%;
    height: auto;
    text-align: left; }
    .people-list .person-item .photo {
      float: left;
      margin: 0 15px; }
    .people-list .person-item dl {
      min-height: 107px;
      padding-top: 10px;
      margin-right: 10px; }
  /*    P E R S O N  P A G E
/*--------------------------------------*/
  .single-people .details span {
    display: block; }
  .single-people .details span + span {
    margin-left: 0; }
  .single-people .details p {
    margin-top: 0px; }
  .single-people article header {
    text-align: center; }
    .single-people article header img {
      display: block; }
    .single-people article header h1 {
      margin-bottom: 15px; }
  .single-people .col + .col {
    margin-top: 0;
    width: 95% !important; }
    .single-people .col + .col img {
      display: none; }
    .single-people .col + .col .table-of-contents {
      display: none; }
  .single-people .photo {
    margin: 0 auto 25px auto; }
  /*    B O O K S
/*--------------------------------------*/
  /* People Page */
  .single-people .book-list {
    float: none; }
    .single-people .book-list img, .single-people .book-list .custom-cover {
      float: left;
      margin-right: 15px; }
    .single-people .book-list li {
      float: left;
      width: 100%;
      display: block; }
    .single-people .book-list dl {
      margin-left: 15px;
      float: none;
      clear: none;
      width: auto; }
    .single-people .book-list dt.title {
      font-size: 1em; }
    .single-people .book-list dd.subtitle {
      font-size: .85em; }
  /* Book Page */
  .single-books .content header .cover {
    display: block;
    margin: 15px auto;
    width: 190px;
    height: auto; }
  .single-books .content header .custom-cover.cover {
    width: 160px;
    height: 205px; }
  .single-books .content header .custom-cover .title {
    font-size: 1.2em;
    line-height: 1em;
    text-align: center; }
  .single-books .col + .col .cover {
    display: none; }
  .single-books .author {
    margin: 0 0 15px 0; }
  /* Book Archive */
  .post-type-archive-books .content header {
    width: 95%; }
  .post-type-archive-books .book-list {
    margin-top: 20px;
    clear: both; }
    .post-type-archive-books .book-list li {
      padding: 15px 0;
      margin: 0 auto;
      width: 95%;
      height: auto;
      text-align: left;
      float: none;
      clear: both; }
    .post-type-archive-books .book-list .custom-cover, .post-type-archive-books .book-list img {
      float: left;
      margin-right: 15px; }
  /*    E V E N T S
/*--------------------------------------*/
  #tribe-events, #tribe-events-content.tribe-events-month {
    width: 100%;
    margin: 0 auto; }
  #tribe-events-content {
    width: 100%;
    margin: 0 auto; }
  #tribe-events-pg-template {
    width: 95%;
    padding: 40px 0 0 0 !important; }
  .tribe-events-sub-nav {
    margin-top: 15px !important; }
  .tribe-events-last {
    padding-bottom: 0 !important; }
  .post-type-archive-tribe_events .col {
    width: 100%; }
  .post-type-archive-tribe_events #tribe-events {
    margin-top: 20px !important; }
  .datepicker thead th {
    border-radius: 0 !important; }
  #tribe-bar-form {
    padding: 0 !important; }
  .tribe-events-schedule {
    margin: 15px 0 !important; }
    .tribe-events-schedule p {
      margin: 0; }
  /*    F O R M S
/*--------------------------------------*/
  article form {
    margin-bottom: 40px; }
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="tel"],
  input[type="color"],
  select,
  textarea,
  .field {
    padding: 0 10px;
    width: 93%;
    max-width: 500px; }
  textarea, .comment-container #respond textarea {
    width: 94%; }
  select {
    width: 100%;
    max-width: 525px; }
  /*    T Y P O G R A P H Y
/*--------------------------------------*/
  .page h1 {
    margin-top: 0em !important; }
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    text-rendering: optimizelegibility; }
    h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
      text-decoration: none; }
  h1 {
    font-size: 2.5em;
    line-height: 1em; }
  h2 {
    font-size: 1.75em;
    line-height: 1.4em;
    margin-bottom: 0.375em; }
  .home .col h3, .col + .col h3 {
    font-size: 1.35em; }
  h3 {
    font-size: 1.125em; }
  h4 {
    font-size: 1.1em;
    font-weight: 700; }
  h5 {
    font-size: 0.846em;
    line-height: 2.09em;
    text-transform: uppercase;
    letter-spacing: 2px; }
  p {
    clear: both; }
  /*blockquote {
	padding: 1px 22px 1px 22px;
	font-size: 1.2em;
	font-style: italic;
	color: $secondary;
	border-left: 15px solid $separator-color;
	margin: 30px 0;
}*/
  blockquote {
    font-size: 1.2em;
    border-left: none;
    margin: 30px 0 30px 0;
    padding: 0;
    width: 100%; }
  a:link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }
  /*    O T H E R
/*--------------------------------------*/
  .alignleft, .alignright, .aligncenter, .alignnone, .wp-post-image {
    float: none;
    margin: 0 auto;
    height: auto;
    max-width: 100%; }
  .wp-caption {
    max-width: 100%; }
    .wp-caption img {
      max-width: 100%;
      height: auto; }
    .wp-caption .wp-caption-text {
      font-size: 0.85em;
      margin: 4px 0 7px;
      text-align: center; }
  .color-block {
    margin: 1px; }
  .fixclear:after {
    overflow: auto; }
  figure {
    max-width: 95% !important;
    padding: 3px; }
  /*    P O S T S  &  C O N T E N T  S T Y L E S
/*--------------------------------------*/
  article header {
    padding: 0; }
  .entry-content table {
    margin-bottom: 1.5em; }
  .entry-content .size-auto,
  .entry-content .size-full,
  .entry-content .size-large,
  .entry-content .size-medium,
  .entry-content .size-thumbnail {
    max-width: 100%;
    height: auto; }
  /*    P A G I N A T I O N
/*--------------------------------------*/
  .pagination, .wp-prev-next {
    margin: 1.5em 0; }
  .pagination {
    text-align: center; }
    .pagination ul {
      display: inline-block;
      white-space: nowrap;
      padding: 0;
      clear: both; }
    .pagination li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden; }
    .pagination a, .pagination span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block; }
      .pagination a:hover, .pagination a:focus, .pagination span:hover, .pagination span:focus {
        background-color: #366d8f;
        color: white; }
    .pagination .current {
      cursor: default;
      color: rgba(0, 0, 0, 0.87); }
      .pagination .current:hover, .pagination .current:focus {
        background-color: white;
        color: rgba(0, 0, 0, 0.87); }
  .wp-prev-next .prev-link {
    float: left; }
  .wp-prev-next .next-link {
    float: right; } }

@media print {
  /* ==========================================================================
   Print Stylesheet
   ========================================================================== */
  /* Good Defaults */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 1.5cm 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; }
  /* Custom Styles */
  footer .copyright, footer .copyright p {
    margin: 0; }
  footer {
    margin-top: 0; }
  header a:after,
  a[href^="http://ucla.edu"]:after,
  .tribe-events-cal-links a:after {
    content: none; }
  #main-content {
    width: 100%; }
  .give-back,
  header form,
  footer img,
  #hero,
  #slider,
  .side,
  #tribe-events-bar {
    display: none; }
  dl.faq dd {
    display: block !important; } }
