/*	Form Styles
/*--------------------------------------*/

fieldset {
	border: none;
	padding: 0;
}
label {
	font-weight: bold;
}
input + label {
	font-weight: normal;
}
form ul li ul li label {
	padding-left: 10px;
}
label span {
	color: #790000;
	margin-left: 5px;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
	padding: 0 10px;
	width: 280px;
	border: 1px solid $border-color;
	display: block;
	height: 35px;
	line-height: 2.5em;
	color: $text-color;
	vertical-align: middle;
	background-color: $bg-light-color;
	@include transition(background-color 0.24s ease-in-out);

	&:focus,
	&:active {
		background-color: white;
	}
	&.error,
	&.is-invalid {
		color: red;
		border-color: red;
		background-color: white;
		outline-color: red;
	}
	&.success,
	&.is-valid {
		color: green;
		border-color: green;
		background-color: white;
		outline-color: green;
	}
	&[disabled],
	&.is-disabled {
		cursor: not-allowed;
		border-color: gray;
		opacity: 0.6;
		
		&:focus,
		&:active {
			background-color: blue;
		}
	}
}
select[multiple] {
    height: 120px;
}
input[type="password"] {
	letter-spacing: 0.3em;
}
input[type="submit"] {
	padding: 6px 10px;
	border: none;
}
.search-form {
	position: relative;
	
	.search-btn {
		position: absolute;
		padding: 5px;
		right: 5px;
		top: -3px;
		min-width: auto;
		background: none;
		font-size: 1.2em;
		color: #8e8e8e!important;
		border: none;
		@include transition(color 0.24s ease-in-out);
		
		&:hover {
			color: #666!important;
		}
		&:active {
			top: 30px;
		}
	}
}
input[type="search"] {
	width: 140px;
	border: 1px solid $border-color;
	border-radius: 15px;
	font-size: .85em;
	padding: 5px 40px 5px 10px;
	background: $bg-light-color;
	font-weight: bold;
	margin-bottom: 10px;
	@include transition(background-color 0.24s ease-in-out);
	
	&:focus {
		background-color: white;
	}
}
textarea {
	width: 500px;
	max-width: 640px;
	min-height: 120px;
	line-height: 1.5em;
	padding: 10px;
}
select {
	width: 302px;
}
select[multiple="multiple"] {
	height: 100px;
	padding: 10px;
}
form li {
	list-style: none;
	margin: 10px 0;
}
form ul li ul li {
	list-style: none;
	margin: 0;
}
.validation_error { 
	font-weight: bold; 
	padding: 10px; 
	border: 2px solid #790000; 
	border-radius: 5px; 
	text-align: center;
}
.validation_message { 
	font-style: italic;
}
// Hiding honeypot
.gform_validation_container {
	@extend %visuallyhidden;
}