/* ==========================================================================
	Main Styles - Desktop
	
	Table of Contents
	
	1. Main Containers
	2. Homepage
	3. Header
	4. Navigation
	5. Footer
	6. Person Page
	7. People Archive
	8. Books
	9. Articles/Posts
	10. Other
	
	========================================================================== */

/*	1. Main Containers
/*--------------------------------------*/

#container {
	width: 100%;
	overflow: auto;
	zoom: 1;
}

#container {
	width: 100%;
	overflow: auto;
	zoom: 1;
}

.content, header {
	width: $site-width;
	margin: 0 auto;
	@extend %clearfix;
}
.content-container {
	width: 100%;
	float: left;
}
#hero {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 400px;
	float: left;
	clear: both;
	margin: 0;
	@include vendor-prefix('box-shadow', '0px 5px 5px 0 rgba(0,0,0,.14)');
}
.col {
	width: 700px;
	margin: 0 auto;
}
.col + .col {
	margin: 10px 0 30px 50px;
}
.page-template-page-full .col {
	width: 100%;
}

/*	2. Homepage
/*--------------------------------------*/

.home #hero {
	height: $home-hero-height;
	margin: 0 0 40px 0;
	
	.content {
		width: 100%;
		height: 660px;
		position: relative;
		@include vendor-prefix('box-shadow', 'inset 0 -100px 100px 60px rgba(0,0,0,0.5)');
	}
	.hero-description {
		color: white;
		text-align: center;
		width: 100%;
		padding: 0 0 40px 0;
		margin: 0 auto;
		position: absolute;
		bottom: 0;
		
		p {
			font-size: 1.5em;
			width: $site-width;
			margin: 0 auto;
		}
	}
}
.home .col {
	float: left;
	
	ul {
		margin-top: 0;
	}
	li {
		list-style: none;
		margin-left: 0;
	}
	p, span.description {
		padding: 0;
		margin: 0 0 20px 0;
		line-height: 1.5em;
		font-weight: normal;
		color: $text-color;
		display: block;
	}
	.post-date {
		font-weight: bold;
		display: block;
		color: $text-color;
	}
	&.one {
		width: 280px;
		padding: 0;
	}
	&.two {
		width: 460px;
	}
	&.content-col {
		p {
			font-size: 1em;
		}
	}
	&.news-col {
		.news-item p {
			color: $text-color;
			font-weight: normal;
		}
		li {
			padding: 0 0 5px 0;
			clear: both;
		}
		.btn {
			margin-top: -5px;
		}
		&.one {
			.news-item {
				float: right;
				width: auto;
			}
		}
		&.two {
			.news-item {
				float: right;
				width: 330px;
			}
			img {
				margin-top: 3px;
			}
			.btn {
				margin-left: 130px;
			}
		}
	}
	&.rss-col {
		li {
			margin-bottom: 20px;
		}
		div {
			font-weight: normal;
			display: block;
			color: $text-color;
			line-height: 1.5em;
		}
		img {
			display: none;
			max-width: 100%;
			height: auto;
		}
	}
}
.home .col + .col {
	margin: 0 0 0 50px;
	background-color: white;
	
	li {
		padding: 0;
	}
}

/*	3. Header
/*--------------------------------------*/

header {
	padding: 35px 0 0 0;
	
	&.top {
		h1, h2 { 
			width: 791px;
			display: inline-block;
			margin: 0;
			float: right;
			clear: right;
		}
	}
	// For retina, upload image 2x larger and resize here
	.dept-logo {
		width: 791px;
		height: 82px;
	}
	nav {
		clear: both;
		float: left;
		padding: 30px 0 20px 0;
	}
	nav.mobile {
		display: none;
	}
	nav ul {
		width: 820px;
	}
	.search {
		float: right;
		clear: right;
		margin-top: 30px;
	}
	.give-back {
		width: 100px;
		text-align: right;
		float: right;
		margin-top: 27px;

		span {
			font-size: .85em;
		}
	}
	.university-logo {
		float: left;
		margin-top: 24px;
		// For retina, upload image 2x larger and resize here
		width: 119px;
		height: 38px;
	}
}
.breadcrumbs {
	width: 100%;
	float: left;
	clear: both;
	font-size: .85em;
	padding: 8px 0;
	margin-bottom: 40px;
	
	img {
		margin: 0;
		padding: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		clear: both;
		float: left;
	}
	li {
		float: left;
		display: inline-block;
		padding: 0 0 0 10px;
		margin: 0;
	}
	li + li {
		margin: 0 0 0 5px;
		background: url('../images/arrow.png') no-repeat left center;
	}
	a {
		font-weight: bold;
		color: $link-color;
		text-decoration: underline;
	}
}

/*	4. Navigation
/*--------------------------------------*/

header nav.desktop ul, footer nav ul {
	padding: 0;
	margin: 0;
	float: left;
}
header nav.desktop ul li, footer nav ul li {
	display: inline-block;
	margin: 0 8px 0 0;
}
header nav.desktop ul li {
	position: relative;
}
header nav.desktop ul li.divider {
	border-left: 1px solid $border-color;
	padding-left: 12px;
}

/* Drop Down */
header nav.desktop {
	ul li ul {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		padding: 0 10px;
		width: 170px;
		top: 20px;
		border-top: 4px solid $primary-light;
		margin-top: 5px;
		background-color: white;
		z-index: 10000;
		@include vendor-prefix('box-shadow', '0px 5px 5px 0 rgba(0,0,0,.14)');
		@include transition(all 0.24s ease-in-out);
	}
	ul li ul li, ul li ul li a { 
		display: block;
		margin: 0;
	}
	ul li ul li a {
		line-height: 1em;
		padding: 6px 0;
	}
	ul li:hover ul, .sub-menu.open {
		display: block;
		opacity: 1;
		visibility: visible;
	}
	ul li.menu-item-has-children a {
		&:after {
			content: "\f0d7"; 
			font-family: "Font Awesome 5 Free";
			padding-left: 5px;
		}		
	}
	ul li.menu-item-has-children ul.sub-menu a {
		padding-right: 0;
		
		&:after {
			content: none;
		}
	}
	a {
		font-weight: 600;
		text-transform: uppercase;
		font-size: .8em;
		letter-spacing: 1px;
	}
	a, a:link {
		color: $link-color;
		cursor: pointer;
		@include transition(all 0.24s ease-in-out);
	}
	a:hover, a:focus, a:active {
		color: $link-hover-color;
	}
}

/* Secondary Menu */
.nav-container {
	background: $background-color;
	height: 50px;
	float: left;
	clear: both;
	width: 100%!important;
	z-index: 9999999;
}
.page-nav {

	li {
		list-style: none;
		margin-left: 0;
		display: inline-block;
		margin: 0 5px;
	}
	ul {
		padding: 0 0 0 20px;
		margin-left: -4px;
		display: inline-block;
		background: url('../images/carrot.png') no-repeat left center;
	}
	a {
		color: white;
		font-weight: normal;
		padding: 5px;
	}
	.current_page_item a {
		border-bottom: 3px solid white;
		font-weight: bold;
	}
	a:hover {
		border-bottom: 3px solid white;
	}
	form {
		float: right;
		margin-top: 12px;
		
		input[type="search"] {
			background-color: white;
		}
	}
}

/*	5. Footer
/*--------------------------------------*/

footer {
	background-color: $secondary;
	clear: both;
	margin-top: 60px;
	float: left;
	width: 100%;
	padding: 35px 0 40px 0;
	color: white;
	font-size: 1em;
	line-height: 1.5em;
	
	/* Footer Nav */
	nav {
		a, a:link, a:visited {
			color: white;
			font-weight: 600;
			text-transform: uppercase;
			font-size: .85em;
		}
		ul.footer-nav {
			clear: left;
			float: left;
		}
		ul.social-links {
			clear: right;
			float: right;
			font-size: 1.7em;
			
			li {
				margin: 0;
				
				&:nth-child(1n+2) {
					margin-left: 5px;
				}
			}
		}
	}
	// Hiding and only showing on mobile
	.search-form {
		display: none;
	}
	.copyright {
		padding-top: 50px;
		font-size: .8em;
		
		.university-logo img {
			float: left;
			width: 100px;
			height: 32px;
		}
		p {
			float: left;
			margin: 0 0 0 20px;
		}
		span {
			margin: 0 5px;
		}
		a, a:link, a:visited {
			color: white;
			text-transform: none;
			text-decoration: underline;
		}
	}
}

/*	6. Person Page
/*--------------------------------------*/

.single-people {
	.details {
		span {
			display: inline;
		}
		span + span {
			margin-left: 20px;
		}
		p {
			margin-top: 0;
		}
	}
	.col + .col {
		margin-top: 0;
	}
	article header {
		padding: 0;
		
		img {
			display: none;
		}
	}
	.bio {
		border-bottom: 2px solid $border-color;
		margin-bottom: 20px;
	}
	.col-nav ul {
		margin-bottom: 40px;
	}
	.photo {
		width: 280px;
		height: 280px;
		margin-bottom: 10px;
	}
	.circle {
		// To make circle, radius should be at least half the width and height
		border-radius: 140px;
	}
	.rounded {
		// Make radius 1/4 the width and height
		border-radius: 70px;
	}
}
.link {
	&:before {
		content: "\f0c1"; 
		font-family: "Font Awesome 5 Free";
		padding-right: 5px;
		color: $secondary-light;
		font-size: .9em;
	}
}
.download {	
	&:before {
		content: "\f019"; 
		font-family: "Font Awesome 5 Free";
		padding-right: 5px;
		color: $secondary-light;
		font-size: .9em;
	}
}

/*	7. People Archive
/*--------------------------------------*/

/* Filters */
.page-template-page-people-listing .main header {
	//text-align: center;
	float: left;
	clear: both;
}
.filter {
	clear: both;
	float: left;
	margin: 20px 0;
	width: 100%;

	ul {
		padding: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		margin: 0 5px;
	}
}
.button-group {
	width: 100%;
	float: left;
	
	button {
		margin-right: 5px;
		min-width: 124px;
		letter-spacing: 0;
	}
	button.all {
		min-width: 100px;
		margin-right: 10px;
	}
}
.dropdown-filter {
	display: none;
}

/* People List */
.people-list {
	margin-top: 40px;
	padding: 0 9px;
	clear: both;

	ul {
		margin: 30px 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
	.person-item {
		display: block;
		float: left;
		padding: 15px 10px;
		margin: 0;
		width: 210px;
		height: 210px;
		text-align: center;
		line-height: 1.3em;
		@include transition(background-color 0.24s ease-in-out);
	
		a {
			display: block;
		}
		&.hover {
			&:active, 
			&:hover, 
			&:focus {
				background-color: $bg-light-color;
			}
			.name {
				color: $link-color;
			}
		}
		.photo {
			border: 7px solid white;
			width: 100px;
			height: 100px;
		}
		.circle {
			// To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
			border-radius: 60px;	
		}
		.rounded {
			// Make radius 1/4 the width and height
			border-radius: 25px;
		}
		.name {
			color: $text-color;
		}
		.interest {
			font-size: .8em;
			color: $text-color;
			line-height: 1em;
			margin-top: 10px;
		}
		.position {
			color: $secondary-text-color;
			margin-top: 10px;
		}
		.email, .office, .office-hours, .phone {
			font-size: .8em;
			margin-bottom: 0;
			color: $text-color;
		}
		.email a {
			font-size: 1em;
			display: inline-block;
		}
	}
}

/* Staff */
.people-list .staff {
	li:hover {
		background: none;
	}
	.name {
		color: $text-color;
	}
}

/*	8. Books
/*--------------------------------------*/

/* General Styles */
.cover {
	@include vendor-prefix('box-shadow', '0 0 10px 0 rgba(0,0,0,.14)');
	border: 3px solid white;
}
.custom-cover {
	background-color: #b4b4b4;
	margin: 0 auto 0 auto;
	
	 .title {
		color: white;
		font-weight: 600;
		text-align: center;
		display: block;
	}
}
.publisher {
	display: block;
}
.book-list {
	.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 5px;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
}

/* People Page */
.single-people .book-list {
	float: left;
	
	img, .custom-cover {
		float: left;
	}
	.custom-cover {
		width: 50px;
		height: 60px;
		padding: 20px 5px 10px 5px;
		
		.title {
			font-size: .42em;
			line-height: 1em;
		}
	}
	li {
		float: left;
		margin: 0 0 20px 0;
		list-style: none;
		display: inline-block;
		width: 320px;
	}
	dl {
		margin-left: 15px;
		float: left;
		clear: none;
		width: 225px;
	}
	dt.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd {
		margin-bottom: 0;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin: 10px 0;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
	dd.subtitle {
		font-style: italic;
		line-height: .8em;
	}
}

/* Book Page */
.single-books {
	.publisher {
		display: block;
		font-size: .8em;
		font-style: italic;
	}
	.author {
		margin-top: 20px;
		display: block;
	}
	.author p {
		display: inline;
	}
	.author-name + .author-name {
		
		&:before {
			content: ",";
			margin: 0 5px 0 -3px;
		}	
	}
	.custom-cover {
		width: 244px;
		height: 313px;
		line-height: 24px;
		padding: 60px 15px 10px 15px;
		
		.title {
			font-size: 24px;
		}
	}
	.content header {
		width: 100%;
		
		.cover {
			display: none;
		}
	}
}

/* Book Archive */
.post-type-archive-books {
	h1 {
		text-align: center;
	}
	.book-list {
		margin-top: 40px;
		clear: both;
		
		ul {
			padding: 0;
		}
		li {
			display: inline-block;
			padding: 0;
			margin: 5px 21px;
			width: 190px;
			height: 280px;
			text-align: center;
			vertical-align: top;
			@extend %clearfix;
		}
		.custom-cover {
			width: 91px;
			height: 127px;
			line-height: 9px;
			padding: 20px 5px 10px 5px;
			margin-bottom: 12px;
			
			.title {
				font-size: 9px;
			}
		}
		dt.title {
			font-size: 1em;
			line-height: 1em;
			margin: 5px 0;
		}
		dd.publisher {
			font-size: .8em;
			line-height: .8em;
			margin-bottom: 5px;
		}
		dd.author a {
			display: block;
			font-size: .8em;
			line-height: 1.14em;
		}
		a {
			text-decoration: none;
		}
	}
}

/*	9. Timeline
/*--------------------------------------*/

ul.timeline {
	border-left: 10px solid $border-color;
	padding-top: 25px;
	
	.event-container {
		margin-top: -10px;
	}
	li {
		margin-left: -14px;
		list-style: none;
		background: url('../images/timeline-bullet.png') no-repeat left 10px;
		padding: 10px 0 0 25px;
	}
	p {
		margin-top: 0;
	}
}

/*	9. Comments
/*--------------------------------------*/

.comment-container {
	border-top: 2px solid $border-color;
	padding: 25px 0 0 0;
	margin: 25px 0 0 0;
	
	// Comment Style
	article {
		border-left: 5px solid $separator-color;
		margin: 30px 0 30px 0;
		padding: 5px 0 5px 22px;
		
		header {
			padding-top: 0;
			width: 100%;
		}
		p {
			margin: 1em 0;
		}
		cite {
			font-weight: bold;
			font-style: normal;
		}
		.depth-2 {
			margin-left: 25px;
		}
	}
	
	// Comment Form Style
	#respond {
		textarea {
			width: 100%;
			max-width: 100%;
			min-height: 120px;
			line-height: 1.5em;
			padding: 10px;
		}
	}
}

/*	10. Articles/Posts
/*--------------------------------------*/

.category, .search-results, .archive, .page-template-page-blog {
	article {
		margin-top: 20px;
	}
}
.category, .page-template-page-blog {
	article + article {
		border-top: 2px solid $border-color;
		padding-top: 20px;
		margin-top: 45px;
	}
}
.publish-date {
	margin-top: 0;
	margin-bottom: 20px;
	display: block;
}

/*    T A B L E S
/*--------------------------------------*/

td, th {
	padding: 5px;
} 
th {
	background-color: $primary-light;
}
tr:nth-of-type(odd) {
	background: $bg-light-color;
}
tr:hover td {
  background-color: $bg-dark-color;
}
td {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $border-color;
}

/*	10. Other
/*--------------------------------------*/

article img {
	max-width: 100%;
	height: auto;
}
img.alignleft, figure.alignleft { 
	float: left;
	margin: 15px 15px 15px 0;
}
img.alignright, figure.alignright { 
	float: right;
	margin: 15px 0 15px 15px;
}
img.aligncenter, figure.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.pagination li {
	display: inline-block;
}
.pagination {
	text-align: center;
	margin-top: 40px;
}
.instructors {
	display: block;
	margin-bottom: -20px;
}
figure {
	margin-left: 0;
	margin-right: 0;
}
.content-subtitle {
	font-size: 1.4em;
	font-weight: 500;
	line-height: 1.6em;
	display: block;
}
.notice, .gform_confirmation_wrapper {
	width: 100%;
	margin: 2em 0;
	background: $bg-light-color;
	border-top: 10px solid $primary;
	padding: 10px 0;
}
.notice p, .notice h3 {
	padding: 0 25px;
}
.gform_confirmation_wrapper {
	padding: 10px 0 40px 0;
	
	.gform_confirmation_message {
		padding-left: 25px;
		padding-right: 25px;
	}
}

/* Courses */
ul.course-list {
	li {
		list-style: none;
		margin-left: 0;
		padding-bottom: 5px;
	}
	h3 {
		margin-bottom: 0;
	}
	p {
		margin: 1em 0 1.5em 0;
	}
}

/* Tables */
td, th {
	padding: 5px;
} 
th {
	background-color: $primary-light;
}
tr:nth-of-type(odd) {
	background: $bg-light-color;
}
tr:hover td {
	background-color: $bg-dark-color;
}
td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: $border-color;
}

/* FAQ/Accordion */
h5.topic {
	cursor: pointer;
	font-size: 1.2em;
	padding: 10px 0;
	margin: 0;
	
	button {
		background: none;
		color: $link-color!important;
		padding: 0;
		margin-bottom: auto;
		letter-spacing: 0;
		line-height: 1.3em;
		text-align: left;
		border-radius: 0;
		@include transition(all 0.24s ease-in-out);
	
		&:hover, &:focus {
			background: none;
			color: $link-hover-color!important;
		}
		&:active {
			top: 0;
		}
		&:before,
		&:before {
			content: "\f0da"; 
			font-family: "Font Awesome 5 Free";
			width: 20px;
			display: inline-block;
		}
		&[aria-expanded=true]:before,
		&[data-expanded=true]:before {
			content: "\f0d7"; 
			font-family: "Font Awesome 5 Free";
			width: 20px;
		}
	}
}
div.response + h5.faq {
	border-top: 1px solid $border-color;
}
div.response {
	padding-left: 20px;
	
	p {
		margin: 0 0 1.5em 0;
	}
	
	// This is the opened state
	&.animated-expandmore__to_expand {
		display: block;
		overflow: hidden;
		opacity: 1;
		transition: visibility 0s ease, max-height .8s ease, opacity 1s ease ;
		max-height: 100em;
		visibility: visible;
		transition-delay: 0s;
	}
	
	// This is the hidden state
	&[data-hidden=true].animated-expandmore__to_expand {
		display: block;
		max-height: 0;
		opacity: 0;
		visibility: hidden;
		transition-delay: 1s, 0s, 0s;
	}
}

// Accordion style
h5.accordion {
	padding: 10px;
	margin: 0;
	background: $bg-light-color;
	border: 1px solid $border-color;
	@include transition(all 0.24s ease-in-out);
	
	&:hover {
		background: $bg-dark-color;
	}
	button {
		background: none;
		color: $link-color!important;
		padding: 0;
		margin-bottom: auto;
		letter-spacing: 0;
		line-height: 1.3em;
		text-align: left;
		@include transition(all 0.24s ease-in-out);
	
		&:hover, &:focus {
			background: none;
			color: $link-hover-color!important;
		}
		&:active {
			top: 0;
		}
		&:before,
		&:before {
			content: "\f067"; 
			font-family: "Font Awesome 5 Free";
			font-size: .7em;
			width: 20px;
			display: inline-block;
		}
		&[aria-expanded=true]:before,
		&[data-expanded=true]:before {
			content: "\f068"; 
			font-family: "Font Awesome 5 Free";
			width: 20px;
		}
	}
}
div.response.accordion {
	border: 1px solid $border-color;
	border-top: none;
	padding: 0;
	margin-top: -2px;
	
	& > * {
		margin: 1.5em 20px;
	}
	& + h5.accordion {
		border-top: none;
	}
	&[data-hidden=true] {
		padding: 0;
	}
}

/* Galleries/Fancybox */
.gallery {
	.gallery-item {
		display: inline-block;
		vertical-align: top
	}
	.gallery-item + .gallery-item {
		margin-left: 10px;
	}
	.gallery-caption {
		max-width: 150px; 
		line-height: 16px; 
		font-size: 12px; 
		font-style: italic;
	}
	.gallery-icon {
		min-height: 160px;
	}
}
.fancybox-container .fancybox-toolbar {
	top: 60px;
}

/* Google Map */
.map {
	width: 100%;
	height: 400px;
	margin: 0;
}
.map img {
   max-width: inherit !important;
}

//    C O L O R  P A L E T T E
//--------------------------------------*/

.color-block {
	width: 103px;
	height: 103px;
	float: left;
	text-align: center;
	line-height: 7em;
	margin: 0 1px;
}
.light-primary {
	background: $primary-light;
}
.primary {
	background: $primary;
}
.dark-primary {
	background: $primary-dark;
}
.light-secondary {
	background: $secondary-light;
}
.secondary {
	background: $secondary;
}
.dark-secondary {
	background: $secondary-dark;
}
.light {
	color: white;
}